<head>
  <title>404 Page Not Found | Zorsay </title>
  <link href="css/404.css" rel="stylesheet">
</head>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">         
      <div class="inner cover">
        <h1 class="cover-heading">404 Error : Page Not Found</h1>
        <p class="lead">The page you requested could not be found. Use your browsers Back button to navigate to the page you have prevously came from.</p>
        <p class="lead">
          <a href="#userhome" class="btn btn-lg btn-default">Take me home</a>
        </p>
      </div>
    </div>
  </div>
</div>

<footer>
    <div class="zs-footer">        
    <span class="links">          
      <a class="btn btn-primary btn-sm" href="mailto:contact@zorsay.com" role="button">Contact Us</a>
      <a class="btn btn-primary btn-sm" href="http://blog.zorsay.com/" role="button">Our Story</a>
    </span>
    <span class="icons">
      <a target="_blank" href="https://www.facebook.com/say.zorsay">
        <img width="32" height="32" src="images/icon_facebook_32.png" alt="f">
      </a>   
      <a target="_blank" href="#">
        <img width="32" height="32" src="images/icon_twitter_32.png" alt="t">
      </a>           
    </span> 
    </div>        
  </footer> 