/*
 * Zorsay - POPOVER v1.1 (http://www.zorsay.com)
 * Copyright 2014 Zorsay, pvt ltd. 
*/


.col-md-4{
	margin-bottom: 20px;
}


/*POPOVER user profile Begin */

.popover-profile .popover {
position: relative;
display: block;
float: left;
width: 260px;
padding: 5px;
}

.pop-user:before{
	display: table;
	content: "";
	zoom:1;
}

.pop-user{
	zoom: 1;
	margin: 6px 6px 4px;
}

.pop-user .mini-profile-img{
	width: 50px;
	height: 50px;
	margin-right: 6px;
	float: left;
}

.mini-profile-img{
	vertical-align: middle;
}

.mini-username{
	width: 160px;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	font-weight: bold;
}

.mini-username:hover{
	color: #337294;
}

.mini-points {
	width: 160px;
	margin-top: -10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	font-size: 0.9em;
	font-weight: bold;
}

.mini-points a:hover{
	color: #337294;
}

.mini-points span {
	color: #999;
	font-size: 0.7em;
	font-weight: normal;
}

.mini-userrole{
	position: absolute;
	display: block;
	font-size: 0.8em;
	color: #999;
	margin-top: 8px;	
}

.user-interest{
	position: relative;
	display: block;
	top:20px;
	padding: 5px;
	font-size: 13px;
	background-color: #E5ECF3;	
	margin-bottom: 5px;
}

.user-interest p{
	margin: 0px;
	font-size: 0.9em;
	color: #777;	
}

.user-interest span{
	display: inline-block;
	position: relative;
}

.mini-user-follow{
	margin-top: 25px;
}

.btn-follow {
  color: #fff;
  padding: 2px 15px;
  font-size: 0.8em;  
  background-color: #3093C7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093C7), to(#1c5a85));
 background-image: -webkit-linear-gradient(top, #3093C7, #1c5a85);
 background-image: -moz-linear-gradient(top, #3093C7, #1c5a85);
 background-image: -ms-linear-gradient(top, #3093C7, #1c5a85);
 background-image: -o-linear-gradient(top, #3093C7, #1c5a85);
 background-image: linear-gradient(to bottom, #3093C7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093C7, endColorstr=#1c5a85);
}

.btn-follow:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.btn-follow:hover,
.btn-follow:focus,
.btn-follow:active,
.btn-follow.active,
.open .dropdown-toggle.btn-follow {
  color: #fff;
  border:1px solid #1c5675;
 background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
 background-image: -o-linear-gradient(top, #26759e, #133d5b);
 background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

.btn-follow:active,
.btn-follow.active,
.open .dropdown-toggle.btn-follow {
  border:1px solid #1c5675;
 background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
 background-image: -o-linear-gradient(top, #26759e, #133d5b);
 background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

.btn-follow:focus {
  border: 1px solid #275371;
  -webkit-box-shadow: inset 0 0 0 1px #ffffff;
          box-shadow: inset 0 0 0 1px #ffffff;
}

.btn-follow .badge {
  color: #dcdcdc;
  background-color: #fff;
}

.btn-follow:hover {
  text-shadow: none;
  border:1px solid #1c5675;
 background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
 background-image: -o-linear-gradient(top, #26759e, #133d5b);
 background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

.btn-follow:active,
.btn-follow.active,
.open .dropdown-toggle.btn-follow {
  border:1px solid #1c5675;
 background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
 background-image: -o-linear-gradient(top, #26759e, #133d5b);
 background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

.btn-follow:focus {
  background-color: #23629F;
  border-color: #275371;
  outline-style: none;
}


/*POPOVER user profile End*/


/*POPOVER Store Profile Begin*/

.popover-store .popover {
	position: relative;
	display: block;
	float: left;
	width: 260px;
	padding: 5px;
}

.pop-store:before{
	display: table;
	content: "";
	zoom:1;
}

.pop-store{
	zoom: 1;
	margin: 6px 6px 4px;
}

.pop-store .mini-store-img{
	vertical-align: middle;
	 margin-left: auto;
    margin-right: auto;
}

.mini-storename{
	margin-top: 5px;
	width: 160px;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	font-weight: bold;
}

.mini-storename:hover{
	color: #337294;
}

.mini-followers {	
	display: inline;
	width: 160px;
	margin-top: -10px;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
	font-size: 0.9em;
	font-weight: bold;
}

.mini-followers a:hover{
	color: #337294;
}

.mini-followers span {
	color: #999;
	font-size: 0.7em;
	font-weight: normal;
}

.store-highlight{
	position: relative;
	display: block;
	padding: 5px;
	font-size: 13px;
	background-color: #E5ECF3;	
	margin-bottom: 5px;
}

.store-highlight p{
	margin: 0px;
	font-size: 0.9em;
	color: #777;	
}

.store-highlight span{
	display: inline-block;
	position: relative;
}

.mini-store-follow{
	display: inline;
}



/*POPOVER Store Profile End*/

/*POPOVER Product Category Profile Begin */

.popover-prodcat .popover {
	position: relative;
	display: block;
	float: left;
	width: 260px;
	padding: 5px;
}

.pop-prodcat:before{
	display: table;
	content: "";
	zoom:1;
}

.pop-prodcat{
	zoom: 1;
	margin: 6px 6px 4px;
}

.pop-prodcat .mini-prodcat-img{
	display: block;
	margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 80%;
    height: auto;
    overflow: hidden; 
}

.mini-prodcatname{
	width: 180px;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	font-weight: bold;
	margin-top: 5px;
}

.mini-prodcatname:hover{
	color: #337294;
}

.prodcat-related{
	position: relative;
	display: block;
	padding: 5px;
	font-size: 13px;
	background-color: #E5ECF3;	
	margin-bottom: 5px;
}

.prodcat-related p{
	margin: 0px;
	font-size: 0.9em;
	color: #777;	
}

.prodcat-related span{
	display: inline-block;
	position: relative;
}

.mini-prodcat-follow{
	display: inline;
}

/*POPOVER Product Category Profile End */

/*POPOVER for Single Comment on full page view Begin */

.popover-scomment .popover {
	position: relative;
	display: block;
	float: left;
	width: 300px;
	padding: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.pop-scomment:before{
	display: table;
	content: "";
	zoom:1;
}

.pop-scomment{
	zoom: 1;
	margin: 6px 6px 4px;
}

.pop-scomment h3{
	font-size: 0.85em;
	margin: 0px;
	font-weight: bold;

}

.criteria-comment{
	position: relative;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #E5ECF3;
	padding: 5px;	
}

.criteria-comment p{
	font-size: 0.95em;
	white-space: wrap;	
	overflow: hidden;
	text-align: left;
	vertical-align: middle;
	margin-bottom: 0px;
}


/*POPOVER for Single Comment on full page view End */

/*POPOVER for Single Comment EDIT view Begin*/

.criteria-edit{
	position: relative;
	display: block;
	padding: 0px;	
}

.criteria-edit textarea {
	position: relative;
	display: inline-block;	
	width: 100%;
	margin-top: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #E5ECF3;
	font-size: 0.95em;
	min-height: 85px;
}

.noscroll{
	overflow: hidden; 
}

.hiddendiv {  
    display: none;  
    white-space: pre-wrap;  
    width: 100%
    min-height: 50px;  
    font-family: inherit;
    font-size: 0.95em;
    /*padding: 5px;  */
    word-wrap: break-word;  
} 

/*POPOVER for Single Comment EDIT  view End*/


