extends layout

block head
  title('Account Verification Successful | Zorsay -')
  link(href='css/signup.css', rel='stylesheet')

block content
  .container
    h2.form-signin-heading.text-center Zorsay Account Verification
    .card.card-signin
      a(href='/')
        img.profile-img(src='images/zorsay-sl.png', alt='')
        h2.form-signin-heading.text-center(style='color: #292929;') Your e-mail has been verified, Now you can Login to your account.

        div
          a(style='text-align: center; margin-top: 10px; margin-left: 15px;', href='/#login') Login
  // /container
  footer
    .zs-footer
      span.links
        a.btn.btn-primary.btn-sm(href='mailto:contact@zorsay.com', role='button') Contact Us
        a.btn.btn-primary.btn-sm(href='http://blog.zorsay.com/', role='button') Our Story
      span.icons
        a(target='_blank', href='https://www.facebook.com/say.zorsay')
          img(width='32', height='32', src='images/icon_facebook_32.png', alt='f')
        a(target='_blank', href='#')
          img(width='32', height='32', src='images/icon_twitter_32.png', alt='t')
