extends layout

block content
  div#content(style='height: 400px;  position: relative;')
    a(href='/')
      img.profile-img(src='images/ajax-loader.gif', style='position: absolute;  left: 50%;  top: 50%;  margin-left: -32px;  margin-top: -32px;  display: block;', alt='')
    span(style='position: absolute;  left: 50.5%;  top: 70%;  margin-left: -32px;  margin-top: -32px;  display: block;', alt='') Loading...

  
block scripts
  // script(data-main='js/boot', type='text/javascript',src='http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js')
  // 2.0.1
  script(data-main='js/boot', type='text/javascript',src='/js/libs/require.js')
  
  
