<!-- Fixed toolbar -->
<div class="navbar navbar-toolbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#userhome"><img title="zorsay" id="zorsay-sl" src="/images/zorsay-sl.png"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">            
        <li>
            <a href="#reviews/all">Shopping Experiences 
                <span class="badge btn-default">
                    <% if (typeof(notif_count) != "undefined") {  %>
                      <%= notif_count %>
                    <% } else { %>
                      new
                    <% } %>
                </span>
            </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right dropdown">            
        <!--<li><a href="#">Give us a Tip!</a></li>-->
        <li class="dropdown">
            <a href="#profile" class="dropdown-toggle" data-toggle="dropdown">
                <% if (typeof(first_name) != "undefined") {  %>
                  <%= first_name %>
                <% } else { %>
                  My Account
                <% } %>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#profile">Profile</a></li>
              <!-- <li><a href="#settings">Settings</a></li> -->
              <li class="divider"></li>
              <li><a href="#logout">Log Out</a></li>
            </ul>
        </li>

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>