<!DOCTYPE html>
<html lang="en">

  <%- include head_meta.ejs %>

  <head>
    <title Password Reset | Zorsay="Password Reset | Zorsay"></title>
    <link href="css/signup.css" rel="stylesheet"/>
  </head>

  <body>
    <div class="container">
      <h2 class="form-signin-heading text-center">Zorsay Password Recovery</h2>
      <div class="card card-signin"><a href="/"><img src="images/zorsay-sl.png" alt="" class="profile-img"/></a>
        <form role="form" action="/resetPassword" method="post" class="form-signin">
          <input type="hidden" name="accountId" value=""/>
          <!-- Enter Password-->
          <h2 style="color: #292929;" class="form-signin-heading text-center">Enter your New Password</h2>
          <input id="password" type="password" name="password" required="required" class="form-control"/>
          <!-- Confirm Password-->
          <input id="re-password" type="password" placeholder="Confirm" name="re-password" required="required" class="form-control"/>
          <!-- Submit-->
          <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
          <div><a style="text-align: center; margin-top: 10px; margin-left: 0px;" href="/login">Login</a></div>
        </form>
      </div>
    </div>
    <!-- /container-->

    <%- include footer.ejs %>

    <script type="text/javascript">
      var url = document.URL;
      var id_check = /[?&]account=([^&]+)/i;
      var match = id_check.exec(url);
      if (match != null){
        // console.log(match[1]);
        // $("input[name=accountId]").attr("value", match[1]);
        var arr_elms = [];
        arr_elms = document.body.getElementsByTagName("input");
        for (var i = 0; i < arr_elms.length; i++) {
          if(arr_elms[i].getAttribute("name") == 'accountId')
            arr_elms[i].setAttribute("value", match[1]);
        }
      }
    </script>

  </body>
</html>

