<!DOCTYPE html>
<html lang="en">

  <% fs = require("fs") %>
  <%= fs.readFileSync('views/head_meta.html', 'utf-8') %>

  <head>
    <title Password Reset Successful | Zorsay="Password Reset Successful | Zorsay"></title>
    <link href="css/signup.css" rel="stylesheet"/>
  </head>


  <body>
    <div class="container">
      <h2 class="form-signin-heading text-center">Zorsay Password Recovery</h2>
        <div class="card card-signin">
          <a href="/">
            <img src="images/zorsay-sl.png" alt="" class="profile-img"/>
                <h2 style="color: #292929;" class="form-signin-heading text-center">Your password has been reset</h2>
              <div>
                <a style="text-align: center; margin-top: 10px; margin-left: 0px;" href="/#login">Login</a>
              </div>
            </a>
          </div>
    </div>
  <!-- /container-->

  <%= fs.readFileSync('views/footer.html', 'utf-8') %>

    </body>
</html>

