

		<!-- <div id="content" style="height: 400px;  position: relative;"> -->
			<!-- <div class="zsl-jumbotron"> -->
				<!-- <div class="zsl-container"> -->
				    <h1><span><img title="zorsay" id="zorsay-sl-logo" src="images/zorsay-wsl.png"></span></h1>
				    <p>
				    Some text to be remained here
				    </p>

				    <%= somevar %>

				    <p>
				    Some more text
				    </p>

				<!-- </div> -->
			<!-- </div> -->

		<!-- </div>		 -->
