<!-- Ask Question modal Div Begin -->
 <div class="modal fade zs-fade modal-askqn" id="askQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myAskQuestionModalLabel" aria-hidden="true">
  <div class="modal-dialog-askquestion">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Ask Question <a href="/about-zorsay#qna" target="_blank">(Asking good Questions?)</a></h4>
      </div>
      <div class="modal-body">            
        <div class="form-group new-post-div" id="Question_0">
          <form id="wizForm" action="#" class="form-horizontal" >
            <div class="wizard-form"> 

              <div class="wizard-content">

                <div class="form-group qn-detail-label">
                <label class="col-xs-4 col-sm-4 control-label">Describe Your Question:</label>
                </div>

                <div class="form-group qn-detail">
                  <div class="qn-desc" id="add_question_modal_content_text_editable" cols="50" name="comment" placeholder="Add more details about the question specific." rows="8"></div>
                </div>

              <div class="form-group qn-title">
                <label class="col-xs-2 col-sm-2 control-label">Title</label>
                <div class="col-xs-10 col-sm-10">
                    <input class="form-control" id="content_title" type="text" placeholder="Give an Appropriate Title to your Question">
                </div>
                </div>

                
                <div class="form-group qn-tags">
                  <label class="col-xs-2 col-sm-2 control-label">Add Tags </label>
                  <!-- <div class="col-xs-10 col-sm-10">
                      <input class="" style="width:100%;" id="tag_box" type="text" placeholder="Add tag such as products, categories, sellers, services.">
                  </div> -->

                  <div class="col-xs-5 col-sm-5">
                      <input class="" style="width:100%;" id="category_box" type="text">
                  </div>

                  <div class="col-xs-5 col-sm-5">
                      <input class="" style="width:100%;" id="seller_box" type="text">
                  </div>

                </div>

                <div class="form-group qn-links">
                  <label class="col-xs-2 col-sm-2 control-label">Add Link </label>
                  <div class="col-xs-8 col-sm-8 ques-prod-link">
                      <input class="form-control ques-prod-link-input-class" id="ques-prod-link-input" type="text" placeholder="Add links to improve question">
                  </div>
                  <div class="col-xs-2 col-sm-2 pr-link ques-add-more ques-add-more-prod-link">
                      <a href="#">Add more</a>
                  </div>
                </div>

              </div>

              <div class="wizard-buttons">
                <div class="row">                     
                  <div class="col-md-offset-3 col-md-9">
                     <a href="#" class="btn btn-follow pull-right askQuestionBtn">Add Question
                     </a>                           
                  </div>                     
                </div>
              </div>                  

            </div>
          </form>              
        </div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog-askquestion-->
</div> <!-- /#askQuestionModal -->
<!-- Ask Question modal Div End -->