        <div class="form-group">
          <form id="wizForm" action="#" class="form-horizontal" >
            <div class="wizard-form">
               <div class="wizard-content">
                <!-- Individual Tab Content Begin -->
                <div class="tab-content">
                 <!-- Alert in case of validation error - Begin -->
                  <div class="alert alert-danger display-none">
                    <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
                    Your form has errors. Please correct them to proceed.
                  </div>                     

                  <div class="alert alert-success display-none">
                    <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
                    Your form validation is successful!
                  </div>
                  <!-- Alert in case of validation error - End -->

                  <!-- First Tab Begin 1 of 3 -->
                  <div class="tab-pane step1 active" id="rate-comment">

                  <h2><strong>Change Password</strong></h2>
                    <div class="form-group">
                    <label class="col-md-4 col-sm-5 control-label">Current Password</label>
                    <div class="col-md-5 col-sm-6">
                        <input class="form-control current_pass" id="current_pass" type="password" placeholder="Your Current Password">
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="col-md-4 col-sm-5 control-label">New Password</label>
                    <div class="col-md-5 col-sm-6">
                        <input class="form-control new_pass" id="new_pass" type="password" placeholder="Atleast 5 Character">
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="col-md-4 col-sm-5 control-label">Confirm New Password</label>
                    <div class="col-md-5 col-sm-6">
                        <input class="form-control confirm_new_pass" id="confirm_new_pass" type="password" placeholder="Same as Above">
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="col-md-4 col-sm-5 control-label"></label>
                    <div class="col-md-2 col-sm-2">
                      <a href="#" id="user_profile_update_btn" class="btn btn-follow form-control change_password_submit_btn">Submit
                      </a>
                    </div>

                    <div class="col-md-3 col-sm-3">
                      <div class="checkbox">
                      <label>
                        <input type="checkbox" id="show_passwords" class="show_passwords">Show Passwords
                      </label>
                      </div>
                    </div>

                    </div>


                    </div>
                  </div>  <!-- tab 1 -->
                </div>
                <!-- Individual Tab Content End -->
               </div>

            </div>
          </form>              
        </div>