<section id="zstour-wrap">
  <div class="panel col-md-12 col-sm-12 col-xs-12">
    <div class="zs-tour">
      <h1>
         Love Shopping, Help one another, Collaborate.
      </h1>
    </div>
    <div class="row">
      <ul id="zs-tour" class="nav nav-tabs nav-justified">
        <li class="active"><a href="#about" data-toggle="tab">About</a></li>
        <li class=""><a href="#team" data-toggle="tab">Team</a></li>
        <li class=""><a href="#exp" data-toggle="tab">Experience Tour</a></li>
        <li class=""><a href="#qna" data-toggle="tab">Q&A Tour</a></li>
        <li class=""><a href="#help" data-toggle="tab">Help</a></li>
        <li class=""><a href="#tos" data-toggle="tab">TOS</a></li>
      </ul>

      <div id="aboutContent" class="tab-content">
        <!-- About Tab Begin -->
        <div class="tab-pane fade active in" id="about">
          <p>
          <section id="about-zorsay">
          <div class="row">
            <div class="abtzs-wrap">
              <div class="panel col-md-12 col-sm-12 col-xs-12">
                <div class="panel-body">
                  <p>
                    Zorsay is the best and easy way to help you discover, gain knowledge and feel confidant while buying anything online. Here you can read shopping experiences, ask question and get real answers from people with first hand experience, to all your queries while buying and subscribing to any services online.
                  </p>
                  <p>
                    Zorsay is the collaborative community of online buyers and sellers to help, educate and offer you a better online buying experience. You are going to interact and create this platform. Not us. You play a major role by contributing, helping your fellow Zorsians and flagging unwanted contents. With your help, we&#39;re working together to build a library of detailed answers to every question you encounter before buying anything online and help other buyers with your after-buying experience.
                  </p>
                  <p>
                    We made Zoray simple and easy to use. For that, we synthesize aspects of Wikis, Quora, Forums and Stack Exchange sites. The only difference is, Zorsay is a site for online consumers.
                  </p>
                  <p>
                    At Zorsay, we are committed to learn from you, listen to you everyday and correct our mistakes. We are no experts in coding and designing, but we are here to offer you a great user experience. Give us your genuine feedback and suggestions which will help us grow and reach our goals.
                  </p>
                </div>
              </div>              
            </div>       
          </div>
          </section>
          </p>

          <!-- <div class="modal-msgs">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Contact Us</h4>
                </div>
                <div class="modal-body">            
                  <div class="form-group">
                    <form id="wizForm" action="#" class="form-horizontal" >
                      <div class="wizard-form"> 
                      <div class="wizard-content">            
                        
                      <div class="form-group">
                      <label class="col-md-3 col-sm-2 control-label" for="name">Name *</label>
                        <div class="col-md-6 col-sm-7">
                          <input class="form-control" type="text" placeholder="Enter Name">
                        </div>
                      </div>

                      <div class="form-group">
                      <label class="col-md-3 col-sm-2 control-label" for="email">Email Address *</label>
                        <div class="col-md-6 col-sm-7">          
                          <input class="form-control" type="email" class="form-control" id="email" placeholder="Enter Email" required="required">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-md-3 col-sm-2 control-label" for="subject">Subject *</label>
                        <div class="col-md-6 col-sm-7">
                          <select id="subject" name="subject" class="form-control" required="required">
                            <option value="na" selected="">Choose One:</option>
                            <option value="thanks">Hello</option>
                            <option value="idea">Got an Idea!</option>
                            <option value="suggestion">Suggestion</option>
                            <option value="others">Feedback</option>
                            <option value="bug">Found a Bug!</option>            
                            <option value="partner">Partner with us</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-md-3 col-sm-2 control-label" for="message">Message</label>
                        <div class="col-sm-8 msg-box">          
                          <textarea id="message" cols="40" name="message" placeholder="Your Message." rows="7"></textarea>
                        </div>
                      </div>

                      </div>

                      <div class="wizard-buttons">
                        <div class="row">
                          <div class="col-md-offset-2 col-md-10">
                            <a href="#" class="btn btn-follow nextBtn">
                            Send <i class="fa fa-arrow-circle-right"></i>
                            </a>                                   
                          </div>
                        </div>      
                      </div>                  

                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

        </div>
        <!-- About Tab End -->
        
        <div class="tab-pane fade" id="team">
          <section id="team-wrap">
            <div class="row">                    
              <div class="abtzs-wrap">
                <div class="panel col-md-12 col-sm-12 col-xs-12">
                  <div class="panel-body">
                    <p>
                      We are not those two entrepreneurs with million-dollar idea, we never knew each other before Zorsay, we came together because we believed what we could do with Zorsay would represent a shift in how people shop online.
                    </p>
                    <p>
                      We started by analysing the problems faced by consumers while buying durables online and how these are solved. Indians purchase durables through a highly planned and researched decision process - always looking for the right place to buy the best quality product at the best price. Navigating along with the consumer's decision making journey was the easiest and most effective way of finding the consumers problems while shopping online. 
                    </p>
                    <p>
                      We understood that you love - the beautiful shopping sites, COD, deals and offers running 365 days, coupons, price comparisons, price drop alerts etc. but most importantly you need the access to key information which is crucial in making purchase decisions. You are always in search for the place to find authentic and relevant informations in the form of reviews, expert opinions, ask questions and get answers to your queries.
                    </p>
                    <p>
                      It took just less than a month for us to realize the importance of Zorsay and to take the role of founders for this exciting challenge. We have build this portal from the feet up and will manage the site activity through an active participation of community of buyers. Zorsay is the collaborative knowledge platform made by interaction and contribution from people like you, to transform us all into a better and informed consumer. We believe in empowering consumers and creating a community that help one another in making a better buying decision.
                    </p>
                    <p>
                      Interested in joining this challenge? Check out our <a href="http://blog.zorsay.com/2014/01/30-days-no-strings-attached/">hiring philisophy</a> and <a href="mailto:career@zorsay.com?subject=Zorsay -  Challenge Accepted!">share your profile</a> with us.
                    </p>
                    <br>
                    <!-- Row Arun begin -->
                    <div class="row zs-team-member" id="arun">   
                      <div class="tour-r1">                    
                        <div class="col-md-5">
                          <section class="panel">
                            <div class="panel-body">
                              <p>
                                <img class="img-team img-responsive media-object" src="img/Arun-team.jpg" alt="Arun">   
                              </p>
                            </div>
                          </section>
                        </div>
                        <div class="col-md-7">
                          <div class="modal-content col-md-12">
                            <div class="modal-body">            
                              <div class="form-group">
                                <form id="wizForm" action="#" class="form-horizontal">
                                  <div class="wizard-form"> 
                                  <div class="wizard-content">            
                                    <div class="panel-body">
                                          <ul class="list-unstyled">
                                            <li>
                                              <b>Arun Antony</b>
                                            </li>
                                            <li>
                                              Designer &amp; Frontend Developer, Founder
                                            </li>
                                          </ul>
                                          <ul class="list-unstyled">
                                           <li>
                                            <i class="fa fa-envelope"></i><a href="mailto:arun@zorsay.com"> arun@zorsay.com</a></li>
                                           <li><a href="https://twitter.com/arunaanto"></a><i class="fa fa-twitter"> @arunaanto</i></li>
                                          </ul>
                                        </div>
                                  

                                  <div class="form-group">
                                  <label class="col-md-3 col-sm-2 control-label" for="email">Your Email *</label>
                                    <div class="col-md-9 col-sm-10">          
                                      <input class="form-control" type="email" id="email" placeholder="Enter Email" required="required">
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <label class="col-md-3 col-sm-2 control-label" for="message">Message</label>
                                    <div class="col-md-9 col-sm-10 msg-box">          
                                      <textarea id="message" cols="40" name="message" placeholder="Your Message." rows="5" style="margin-left: 0px; margin-right: 0px; width: 304px;"></textarea>
                                    </div>
                                  </div>

                                  </div>

                                  <div class="wizard-buttons">
                                    <div class="row">
                                      <div class="col-md-offset-2 col-md-10">
                                        <a href="#" class="btn btn-follow nextBtn">
                                        Send <i class="fa fa-arrow-circle-right"></i>
                                        </a>                                   
                                      </div>
                                    </div>      
                                  </div>                  

                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>                    
                      </div>                    
                    </div>
                    <!-- Row Arun End -->

                    <!-- Row Vinit begin -->
                    <div class="row zs-team-member" id="vinit">   
                      <div class="tour-r1">                    
                        <div class="col-md-5">
                          <section class="panel">
                            <div class="panel-body">
                              <p>
                                <img class="img-team img-responsive media-object" src="img/Vinit-team.jpg" alt="Arun">   
                              </p>
                            </div>
                          </section>
                        </div>
                        <div class="col-md-7">
                          <div class="modal-content col-md-12">
                            <div class="modal-body">            
                              <div class="form-group">
                                <form id="wizForm" action="#" class="form-horizontal">
                                  <div class="wizard-form"> 
                                  <div class="wizard-content">            
                                    <div class="panel-body">
                                      <p>
                                      <ul class="list-unstyled">
                                        <li>
                                          <b>Vinit Agrawal</b>
                                        </li>
                                        <li>
                                          Solutions Architect & Developer, Founder
                                        </li>
                                      </ul>
                                      <ul class="list-unstyled">
                                      <li>
                                        <i class="fa fa-envelope"></i>
                                        <a href="mailto:vinit@zorsay.com"> vinit@zorsay.com</a>
                                      </li>
                                       <li><a href="https://twitter.com/volume88"></a><i class="fa fa-twitter"> @volume88</i></li>
                                      </ul>
                                    </div>
                                  

                                  <div class="form-group">
                                  <label class="col-md-3 col-sm-2 control-label" for="email">Your Email *</label>
                                    <div class="col-md-9 col-sm-10">          
                                      <input class="form-control" type="email" id="email" placeholder="Enter Email" required="required">
                                    </div>
                                  </div>

                                  

                                  <div class="form-group">
                                    <label class="col-md-3 col-sm-2 control-label" for="message">Message</label>
                                    <div class="col-md-9 col-sm-10 msg-box">          
                                      <textarea id="message" cols="40" name="message" placeholder="Your Message." rows="5" style="margin-left: 0px; margin-right: 0px; width: 304px;"></textarea>
                                    </div>
                                  </div>

                                  </div>

                                  <div class="wizard-buttons">
                                    <div class="row">
                                      <div class="col-md-offset-2 col-md-10">
                                        <a href="#" class="btn btn-follow nextBtn">
                                        Send <i class="fa fa-arrow-circle-right"></i>
                                        </a>                                   
                                      </div>
                                    </div>      
                                  </div>                  

                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>                    
                      </div>                    
                    </div>
                    <!-- Row Vinit End -->
                  </div>
                </div>              
              </div>
            </div>
          </section>
        </div>

        <div class="tab-pane fade" id="exp">
          <section id="zsabt-shopex">
          <!-- Row 1 begin -->
          <div class="row">
            <div class="col-md-6">
              <section class="panel">
                <div class="panel-body">
                  <p>
                    <img class="img-shopex media-object" src="img/shopex-visit.jpg" alt="Visit Shopping Experience">   
                  </p>
                </div>
              </section>
            </div>
            <div class="col-md-6">
              <section class="panel">
                <div class="panel-body">
                  <p>
                    Visit <b><a href="/shopping-experiences" target="_blank">Shopping Experience</a></b> page to discover online shopping experience with various sellers.
                  </p>                          
                </div>
              </section>
            </div>
          </div>
          <!-- Row 1 End -->                  

          <!-- Row 2 begin -->
          <div class="row">
            <div class="col-md-6">
              <section class="panel">
                <div class="panel-body">
                  <p>
                    <ul class="list-unstyled">
                      <li>
                        Share your <b>latest</b> shopping experience with any online sellers.
                      </li>
                    </ul>
                    <ul>
                      <li>
                        Your shopping experience is going to influence many online buyers in their <b>shopping decisions</b>.
                      </li>
                      <li>
                        Be <b>honest</b> and <b>original</b> in your feedback.
                      </li>
                    </ul>
                  </p>                          
                </div>
              </section>
            </div>
            <div class="col-md-6">
              <section class="panel">
                <div class="panel-body">
                  <p>
                    <img class="img-shopex img-responsive media-object" src="img/shopex-latest.jpg" alt="Write Latest Shopping Experience">   
                  </p>
                </div>
              </section>
            </div>
          </div>
          <!-- Row 2 End -->

          <!-- Row 3 begin -->
          <div class="row">
            <div class="col-md-6">
              <section class="panel">
                <div class="panel-body">
                  <p>
                    <img class="img-shopex media-object" src="img/shopex-nonbias.jpg" alt="">   
                  </p>
                </div>
              </section>
            </div>
            <div class="col-md-6">
              <section class="panel">
                <div class="panel-body">
                  <p>
                    <ul class="list-unstyled">
                      <li>
                        Zorsay is <b>not biased</b> to any online sellers.
                      </li>
                    </ul>
                    <ul>
                      <li>
                        We understand the importance of <b>customer feedback</b> and it&#39;s effects on business.
                      </li>
                      <li>
                        Zorsay will not encourage <b>bad mouthing</b> of any sellers.
                      </li>
                      <li>
                        We will only value those experiences which are real and genuine.
                      </li>
                    </ul>
                  </p>                          
                </div>
              </section>
            </div>
          </div>
          <!-- Row 3 End -->

          <!-- Row 4 begin -->
          <div class="row">
            <div class="col-md-6">
              <section class="panel">
                <div class="panel-body">
                  <p>
                    <ul class="list-unstyled">
                      <li>We <b>do not rank</b> online sellers.</li>
                    </ul>
                    <ul>
                      <li>
                        <b>Seller&#39;s ratings</b> are a way to help buyers identify the best online seller to chose while buying a product or product category.
                      </li>                              
                    </ul>
                  </p>                          
                </div>
              </section>
            </div>
            <div class="col-md-6">
              <section class="panel">
                <div class="panel-body">
                  <p>
                    <img class="img-shopex  media-object" src="img/shopex-rating.jpg" alt="">   
                  </p>
                </div>
              </section>
            </div>
          </div>
          <!-- Row 4 End -->

          <!-- Row 5 begin -->
          <div class="row">
            <div class="col-md-6">
              <section class="panel">
                <div class="panel-body">
                  <p>
                    <img class="img-shopex media-object" src="img/shopex-criteria.jpg" alt="">   
                  </p>
                </div>
              </section>
            </div>
            <div class="col-md-6">
              <section class="panel">
                <div class="panel-body">
                  <p>
                    <ul class="list-unstyled">
                      <li>Introducing <b>Shopping criteria rating</b>.</li>
                    </ul>
                    <ul>
                      <li>
                        Give your <b>unbiased</b> feedback, by rating and commenting on different shopping criteria, during your interaction with the seller.
                      </li>
                      <li>
                        Explain in detail, various events that happened from choosing the product, buying from the seller, receiving the product and using it. 
                      </li>
                      <li>
                        Sharing your experience with Zorsay will help other buyers make the <b>right buying decisions</b>
                      </li>
                    </ul>
                  </p>                          
                </div>
              </section>                
          </div>
          </div> 
          <!-- Row 5 End -->

         <!-- Row 6 begin -->
          <div class="row">
            <div class="col-md-6">
              <section class="panel">
                <div class="panel-body">
                  <p>
                     If you find a shopping experience helpful, say <b>Thank You</b> as a mark of goodwill.
                  </p>                          
                </div>
              </section>
            </div>
            <div class="col-md-6">
              <section class="panel">
                <div class="panel-body">
                  <p>
                    <img class="img-shopex media-object" src="img/shopex-thanku.jpg" alt="">   
                  </p>
                </div>
              </section>
            </div>
          </div>
          <!-- Row 6 End -->
          </section>
        </div>

        <div class="tab-pane fade" id="qna">
          <section id="zsabt-qna">
            <!-- Row 0 begin -->
            <div class="row">
              <div class="col-md-6">
                <section class="panel">
                  <div class="panel-body">
                    <p>
                      <img class="img-shopex media-object" src="img/qna-asking.jpg" alt="">   
                    </p>
                  </div>
                </section>
              </div>
              <div class="col-md-6">
                <section class="panel">
                  <div class="panel-body">
                    <p>
                      Visit the <b><a href="/questions" target="_blank">Questions</a></b> page to see list of all Recent Answers, Top Answers and Unanswered Questions.
                    </p>
                    <p>
                      <b>Ask</b> any questions you encounter before buying anything online and get answered from <b>real people</b> with first-hand user experience. 
                    </p>                       
                  </div>
                </section>
              </div>                    
              </div>
            <!-- Row 0 End -->

            <!-- Row 1 begin -->
            <div class="row">                                 
              <div class="col-md-6">
                <section class="panel">
                  <div class="panel-body">
                    <p>
                      <ul class="list-unstyled">
                        <li>Ask <b>specific questions</b> to get answered quickly from people who faced the same problem.</li>
                      </ul>
                      <ul>
                        <li>
                          Focus on questions about an <b>actual and practical</b> problems you have faced. 
                        </li>
                        <li>
                          Include <b>details</b> about what you are looking for and be specific.
                        </li>
                      </ul>
                    </p>                          
                  </div>
                </section>
              </div>
              <div class="col-md-6">
                <section class="panel">
                  <div class="panel-body">
                    <p>
                      <img class="img-shopex media-object" src="img/qna-askqn.jpg" alt="">   
                    </p>
                  </div>
                </section>
              </div>                  
            </div>
            <!-- Row 1 End -->

            <!-- Row 2 begin -->
            <div class="row">                     
              <div class="col-md-6">
                <section class="panel">
                  <div class="panel-body">
                    <p>
                      <img class="img-shopex media-object" src="img/qna-answering.jpg" alt="">
                    </p>
                  </div>
                </section>
              </div>
              <div class="col-md-6">
                <section class="panel">
                  <div class="panel-body">
                    <p>
                       <ul class="list-unstyled">
                        <li>Answer clearly with examples from your <b>real life experience</b> to show your expertise.</li>                              
                      </ul>
                      <ul>
                        <li>
                          <b>Focus on the solution</b> to the question while answering and avoid posting opinions for an answer. 
                        </li>
                        <li>
                          <b>Answer in detail</b> with in depth knowledge and additional information with supporting real life experiences.
                        </li>
                      </ul>
                      See help section to read what to ask and how to give a good answer in Zorsay.
                    </p>                          
                  </div>
                </section>
              </div>                 
            </div>
            <!-- Row 2 End -->

            <!-- Row 3 begin -->
            <div class="row">
              <div class="col-md-6">
                <section class="panel">
                  <div class="panel-body">
                    <p>
                      <ul class="list-unstyled">
                        <li>Vote, Bookmark, Accept</li>
                      </ul>
                      <ul>
                        <li>
                          Voting Up is a way to <b>say Thanks</b> for asking good question and writing useful answers. 
                        </li>
                        <li>
                          <b>Bookmark</b> questions which interest you as favorite.
                        </li>
                        <li>
                          The person who asked can agree to one answer and <b>mark as correct</b>. This doesn&#39;t mean it&#39;s the best answer, it  just means that it is the appropriate answer for the person who asked.
                        </li>
                      </ul>
                    </p>
                  </div>
                </section>
              </div>
              <div class="col-md-6">
                <section class="panel">
                  <div class="panel-body">
                    <p>
                      <img class="img-shopex media-object" src="img/qna-vote.jpg" alt="">
                    </p>
                  </div>
                </section>
              </div>
            </div>
            <!-- Row 3 End -->

            <!-- Row 4 begin -->
            <div class="row"> 
              <div class="col-md-6">
                <section class="panel">
                  <div class="panel-body">
                    <p>
                      <img class="img-shopex media-object" src="img/qna-tags.jpg" alt="">
                    </p>
                  </div>
                </section>
              </div>
               <div class="col-md-6">
                <section class="panel">
                  <div class="panel-body">
                    <p>
                      <ul class="list-unstyled">
                        <li>Add tags to your questions to get noticed faster and easy to find.</li>                              
                      </ul>
                      <ul>
                        <li>
                          <b>Green tags</b> help you identify a question related to a product category, product, brand or an online seller.
                        </li>
                        <li>
                          Questions related to any online services, booking or banking are identified by <b>Red tags</b>.
                        </li>
                      </ul>
                    </p>                          
                  </div>
                </section>
              </div>
            </div>
            <!-- Row 4 End -->
          </section>
        </div>

        <div class="tab-pane fade" id="help">
          <!-- <p>                 -->
            <section id="zs-help">
            <div class="row">                  
              <div class="zshelp-wrap">
                <div class="panel col-md-12 col-sm-12 col-xs-12">
                  <div class="panel-heading">
                  
                  <!-- Questions Help Begin -->
                  <h1>Asking Questions</h1>                         
                  </div>
                  <div class="panel-body">
                    <p class="zshelp-qn">
                      <i class="fa fa-question"></i> What kind of questions or topic can I ask here?
                    </p>
                   <!--  <p>
                      <i class="fa fa-quote-left"></i>   Zorsay is the best and easy way to help you discover, gain knowledge and feel confidant while buying anything online. Here you can read shopping experiences, ask question and get real answers from people with first hand experience, to all your queries while buying and subscribing to any services online.
                    </p>  -->                         
                    <br>
                    <p class="zshelp-qn">
                      <i class="fa fa-question"></i> What kind of questions should I not ask here?
                    </p>
                    <br>
                    <p class="zshelp-qn">
                      <i class="fa fa-question"></i> How do I ask a good Question?
                    </p>
                    <br>
                  </div>
                  <!-- Questions Help Ends -->

                  <!-- Answers Help Begin -->
                  <div class="panel-heading">                        
                    <h1>Answering</h1>                         
                  </div>
                  <div class="panel-body">
                    <p class="zshelp-qn">
                      <i class="fa fa-question"></i> How do I write a good Answer?
                    </p>
                    <!-- <p>
                      <i class="fa fa-quote-left"></i>   Zorsay is the best and easy way to help you discover, gain knowledge and feel confidant while buying anything online. Here you can read shopping experiences, ask question and get real answers from people with first hand experience, to all your queries while buying and subscribing to any services online.
                    </p>     -->
                    <br>
                    <p class="zshelp-qn">
                      <i class="fa fa-question"></i> Can I answer my own question?
                    </p>
                    <br>
                    <p class="zshelp-qn">
                      <i class="fa fa-question"></i> What if I don&#39;t get a good answer?
                    </p>
                    <br>                  
                  </div>
                  <!-- Answers Help End -->

                  <!-- Writing Shopping Experiences Begin -->
                  <div class="panel-heading">                        
                    <h1>Writing Shopping Experiences</h1>
                  </div>
                  <div class="panel-body">
                    <p class="zshelp-qn">
                      <i class="fa fa-question"></i> How can I write a Good Shopping experience?
                    </p>
                    <!-- <p>
                      <i class="fa fa-quote-left"></i>   Zorsay is the best and easy way to help you discover, gain knowledge and feel confidant while buying anything online. Here you can read shopping experiences, ask question and get real answers from people with first hand experience, to all your queries while buying and subscribing to any services online.
                    </p>    -->                       
                    <br>
                    <p class="zshelp-qn">
                      <i class="fa fa-question"></i> What all information should be included in my Shopping experience?
                    </p>
                    <br>
                    <p class="zshelp-qn">
                      <i class="fa fa-question"></i> What are shopping criteria?
                    </p>
                    <br>
                    <p class="zshelp-qn">
                      <i class="fa fa-question"></i> Why saying &#39;Thank You&#39; important?
                    </p>
                    <br>
                  </div>
                  <!-- Writing Shopping Experiences End -->
                  
                  <!-- General FAQ Begin -->
                  <div class="panel-heading">                        
                    <h1>General FAQ</h1>                         
                  </div>
                  <div class="panel-body">
                    <p class="zshelp-qn">
                      <i class="fa fa-question"></i> Do I have to log in or create an account?
                    </p>
                    <!-- <p>
                      <i class="fa fa-quote-left"></i>   Zorsay is the best and easy way to help you discover, gain knowledge and feel confidant while buying anything online. Here you can read shopping experiences, ask question and get real answers from people with first hand experience, to all your queries while buying and subscribing to any services online.
                    </p> -->                          
                    <br>
                    <p class="zshelp-qn">
                      <i class="fa fa-question"></i> What kind of behavior is expected from me?
                    </p>
                    <br>
                    <p class="zshelp-qn">
                      <i class="fa fa-question"></i> What if I see someone doing something bad?
                    </p>
                    <br>
                    <p class="zshelp-qn">
                      <i class="fa fa-question"></i> Where can I post feedback about something that’s broken or an idea I have for a feature?
                    </p>
                    <br>
                    <p class="zshelp-qn">
                      <i class="fa fa-question"></i> How can I connect with your team?
                    </p>
                    <br>
                  </div>
                  <!-- General FAQ End -->

                </div>              
              </div>    
            </div>
          </section>
          <!-- </p> -->
        </div>

        <div class="tab-pane fade" id="tos">
          <section id="zstos-wrap">
            <div class="panel col-md-12 col-sm-12 col-xs-12">
              <div class="zstos">
                <h1>
                   Terms of Service
                </h1>
              </div>
              <div class="zstos-wrap">
                <div class="row">                  
                  <div class="zstos-head">
                    <div class="panel col-md-12 col-sm-12 col-xs-12">
                      <div class="panel-heading">
                        <h1>Note from the team</h1>                         
                      </div>
                      <div class="panel-body">
                        <p class="zstos-terms">
                          </p><ul class="list-unstyled">
                            <li>At Zorsay our mission is to empower consumers and create a community that help one another to make a better buying decision. Before you read our detailed, legally binding Terms of Service, here is a non-legalese summary of some key information about reading or contributing to Zorsay:
                            </li>
                          </ul>
                          <ol type="a">
                            <li>
                              You continue to own the copyrights of the content you submit to Zorsay. That said, by posting your content on Zorsay you give us multiple rights to use and change it (see ''Your License to Zorsay'' below for details).
                            </li>
                            <li>
                              Our editor community (as opposed to the lawyers who wrote the terms of service below) have developed many policies about what we want and don't want on Zorsay. You can read details about the writing we do want at our Help section and what we don't want at our Guidelines Policy.
                            </li>
                            <li>
                              We allow you a worldwide, royalty-free, non-assignable and non-exclusive license to re-post any of the Content on Zorsay anywhere on the rest of the web. (see ''Zorsay's License to you'' below for details).
                            </li>
                            <li>
                              Our goal is to build the world's most helpful how-to instructions, but we don't always meet that goal. Occasionally our articles are incomplete, unhelpful, misleading or incorrect, and we cannot guarantee the accuracy of anything you find on Zorsay. You should use your best judgement and consult multiple sources when following any instructions you read anywhere on the internet, including Zorsay.
                            </li>
                            <li>
                              We value your privacy. Read more at our Privacy Policy.
                            </li>
                            <li>
                              If you have a question, concern or just want to offer a note of thanks, you can email us at <a href="mailto:feedback@zorsay.com?subject=Zorsay Feedback">feedback@zorsay.com</a>
                            </li>
                          </ol>
                          <ul class="list-unstyled">
                            <li>Please see below for our official Terms of Service. We encourage you to read them carefully. Thank you for using and contributing to Zorsay. We appreciate your support in promoting our goal of sharing information freely around the world.
                            </li>                        
                          </ul>
                        <p></p>                  
                      </div>
                      <div class="panel-subheading">                      
                        <h1>Effective: </h1><h4> December 23, 2013</h4>
                      </div>
                      <div class="panel-subheading"> 
                        <h1>Last Updated: </h1><h4> April 2, 2014</h4>
                      </div>
                      <br>
                      <div class="panel-heading">
                        <h1>Accepting the Terms of Service</h1>
                      </div>                  
                      <div class="panel-body">
                        <p class="zstos-terms">
                          </p><ul class="list-unstyled">
                            <li>Welcome to Zorsay, the website, mobile and online service of Zorsay. (''Zorsay,'' ''<a href="www.zorsay.com">www.zorsay.com</a>'', ''we'', or ''us'').  These Terms of Service (''Terms'') govern your access to and use of the services, websites, online and/or mobile services, and applications offered by Zorsay (the ''Service''). Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. You can accept the Terms by: Clicking to accept or agree to the Terms, where this option is made available to you by Zorsay in the user interface for any particular Service; or Actually using the Services. In this case, you understand and agree that Zorsay will treat your use of the Services as acceptance of the Terms from that point onwards. By accessing or using the Service you agree to be bound by these Terms.
                            </li>
                            <br>
                            <li>
                              PLEASE READ THIS AGREEMENT CAREFULLY AND COMPLETELY TO ENSURE THAT YOU UNDERSTAND EACH PROVISION. If you have any questions about this Terms, email at <a href="mailto:feedback@zorsay.com?subject=Zorsay Feedback">feedback@zorsay.com</a>
                            </li>
                          </ul>
                        <p></p>
                      </div>
                      <div class="panel-heading">
                        <h1>Use of the Service</h1>                         
                      </div>
                      <div class="panel-body">
                        <p class="zstos-terms">
                          </p><ul class="list-unstyled">
                            <li>
                              Zorsay provides a place for consumers to discover, gain knowledge and feel confidant while buying anything online. Our goal is to actively drive a collaborative community of online buyers and sellers to help, educate and offer a better online buying experience. We appreciate your valuable contributions to the Service.
                            </li>                        
                          </ul>
                          <div class="panel-subheading">                      
                            <h1>A. Eligibility </h1>
                          </div>
                          <ul class="list-unstyled">
                            <li>
                              You may use the Service only if you can form a binding contract with Zorsay, and only in compliance with this Agreement and all applicable local, state, national, and international laws, rules and regulations. You represent that you are over the age of thirteen (13) years old. If you are over thirteen, but under the legal age of majority, your parent or legal guardian must consent to this Terms of Service and Privacy Policy, and affirm that they accept this Agreement on behalf of, and bear all legal and financial responsibility and liability for the actions of, any child between the age of 13 and majority, and expressly ratify and confirm any acts of any such child and all users of the account.
                            </li>                        
                          </ul>                      
                          <div class="panel-subheading">                      
                            <h1>B. Zorsay Service</h1>
                          </div>
                          <ul class="list-unstyled">
                            <li>
                              Subject to the terms and conditions of this Agreement, you are hereby granted a non-exclusive, limited, non-transferable, freely revocable license to use the Service as permitted by the features of the Service. Zorsay may terminate this license at any time for any reason or no reason.
                            </li>                        
                          </ul>
                          <div class="panel-subheading">                      
                            <h1>C. Zorsay Accounts</h1>
                          </div>
                          <ul class="list-unstyled">
                            <li style="margin-bottom: 10px;">
                              Your zorsay account gives you access to the services and functionality that we may establish and maintain from time to time and in our sole discretion. If you open a Zorsay account on behalf of a company, organization, or other entity, then (a) ''you'' includes you and that entity, and (b) you represent and warrant that you are an authorized representative of the entity with the authority to bind the entity to this Agreement, and that you agree to this Agreement on the entity's behalf. By connecting to Zorsay with a third-party service, you give us permission to access and use your information from that service as permitted by that service, and to store your log-in credentials for that service.
                            </li>
                            <li style="margin-bottom: 10px;">
                              You may never use another User's account without permission. You are solely responsible for the activity that occurs on your account, and you must keep your account password secure. We encourage you to use ''strong'' passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your account. You must notify Zorsay immediately of any breach of security or unauthorized use of your account. Zorsay will not be liable for any losses caused by any unauthorized use of your account.
                            </li>
                            <li style="margin-bottom: 10px;">
                              You may control your User profile and how you interact with the Service by changing the settings in your User Account. By providing Zorsay your email address you consent to our using the email address to send you Service-related notices, including any notices required by law, in lieu of communication by postal mail. We may also use your email address to send you other messages, such as changes to features of the Service and special offers. If you do not want to receive such email messages, you may opt out or change your preferences in your email setting under your User Account. Opting out may prevent you from receiving email messages regarding updates, improvements, or offers.
                            </li>
                          </ul>
                          <div class="panel-subheading">                      
                            <h1>D. Service Rules</h1>
                          </div>
                          <ul class="list-unstyled">
                            <li>
                              You must not do any of the following while accessing or using the Service: 
                            </li>                        
                          </ul>
                          <ol type="I">
                            <li>
                              transmitting spam, chain letters, or other unsolicited email;
                            </li>
                            <li>
                              attempting to interfere with, compromise the system integrity or security or decipher any transmissions to or from the servers running the Service; 
                            </li>
                            <li>
                              taking any action that imposes, or may impose at our sole discretion an unreasonable or disproportionately large load on our infrastructure; 
                            </li>
                            <li>
                              uploading invalid data, viruses, worms, or other software agents through the Service; 
                            </li>
                            <li>
                              collecting or harvesting any personally identifiable information, including account names, from the Service; 
                            </li>
                            <li>
                              impersonating another person or otherwise misrepresenting your affiliation with a person or entity, conducting fraud;
                            </li>
                            <li>
                              interfering with the proper working of the Service; 
                            </li>
                            <li>
                              accessing any content on the Service through any technology or means other than those provided or authorized by the Service; or
                            </li>
                            <li>
                              bypassing the measures we may use to prevent or restrict access to the Service, including without limitation features that prevent or restrict use or copying of any content or enforce limitations on use of the Service or the content therein. 
                            </li>
                            <li>
                              use the Service for any unlawful purposes or for promotion of illegal activities; 
                            </li>
                            <li>
                              upload or post any Content (as defined below) in violation of the provisions contained in the "Your License to Zorsay" section of these terms; 
                            </li>
                            <li>
                              access or tamper with non-public areas of the Service, Zorsay's computer systems, or the technical delivery systems of Zorsay's providers; 
                            </li>
                            <li>
                              access or search or attempt to access or search the Service by any means (automated or otherwise) other than through the currently available, published interfaces that are provided by Zorsay (and only pursuant to those terms and conditions), unless you have been specifically allowed to do so in a separate agreement with Zorsay (crawling the Service is permissible in accordance with these Terms, but scraping the Service without the prior consent of Zorsay except as permitted by these Terms is expressly prohibited);
                            </li>
                            <li>
                              forge any TCP/IP packet header or any part of the header information in any email or posting, or in any way use the Service to send altered, deceptive or false source-identifying information; or 
                            </li>
                            <li>
                              interfere with or disrupt (or attempt to do so) the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, mail-bombing the Service, or by scripting the creation of Content in such a manner as to interfere with or create an undue burden on the Service.
                            </li>
                          </ol>
                          <div class="panel-subheading">                      
                            <h1>E. Amendment and Addenda to the Terms</h1>
                          </div>
                          <ul class="list-unstyled">
                            <li>
                              We may, without prior notice, change the Service; stop providing the Service or features of the Service, to you or to users generally; or create usage limits for the Service.
                            </li>                        
                          </ul>
                          <div class="panel-subheading">                      
                            <h1>F. Community Behavior</h1>
                          </div>
                          <ul class="list-unstyled">
                            <li>
                              You are solely responsible for your interactions with other Zorsay Users. We reserve the right, but have no obligation, to monitor disputes between you and other Users. Zorsay shall have no liability for your interactions with other Users, or for any User's action or inaction. We created it to give everyone a chance to be recognized by their peers: recognized for their knowledge, their passion, and their willingness to help others get better at the things they are passionate about. We do ask that you treat our service and community with respect. Spam, personal attacks, and abusive language do not have a place on Zorsay. If you ever stumble across anything on Zorsay that looks like it violates our policies, please be sure to let us know.
                            </li>                        
                          </ul>
                          <div class="panel-subheading">                      
                            <h1>G. Termination</h1>
                          </div>
                          <ul class="list-unstyled">
                            <li>
                              We may permanently or temporarily terminate or suspend your access to the Service without notice and liability for any reason, including if in our sole determination you violate any provision of this Agreement, or for no reason. Upon termination for any reason or no reason, you continue to be bound by this Agreement.
                            </li>                        
                          </ul>                      
                        <p></p>                    
                      </div>
                      <div class="panel-heading">
                        <h1>Zorsay Content</h1>                         
                      </div>
                      <div class="panel-body">
                        <p class="zstos-terms">
                          </p><ul class="list-unstyled">
                            <li>
                              All materials displayed or performed on the Network, including, but not limited to text, graphics, logos, tools, photographs, images, illustrations, software or source code, audio and video, and animations (collectively, ''Content'') (other than Content posted by Users (''User Content'')) are the property of Zorsay and/or third parties.
                            </li>                        
                          </ul>
                        <p></p>
                      </div> 
                      <div class="panel-heading">
                        <h1>User Content</h1>                         
                      </div>
                      <div class="panel-body">
                        <p class="zstos-terms">
                          </p><ul class="list-unstyled">
                            <li>
                              "Content" means any information, text, graphics, or other materials uploaded, downloaded or appearing on the Service. You retain ownership of all Content you submit, post, display, or otherwise make available on the Service.. The User Content you create remains yours; however, by sharing User Content through the Service, you agree to allow others to view, edit, and/or share your User Content in accordance with this Agreement (see ''Your License to Zorsay'' below). Zorsay has the right (but not the obligation) in its sole discretion to remove any User Content that is shared via the Service.
                            </li>                        
                          </ul>
                        <p></p>
                      </div>
                      <div class="panel-heading">
                        <h1>Your License to Zorsay</h1>                     
                      </div>
                      <div class="panel-body">
                        <p class="zstos-terms">
                          </p><ul class="list-unstyled">
                            <li>
                             By submitting, posting or displaying Content on or through the Service, you grant us a worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, edit, list information regarding, transmit, display and distribute such Content in any and all media or distribution methods (now known or later developed).
                            </li>
                            <li>
                              You agree that this license includes the right for other users of the Service to modify your Content, and for Zorsay to make your Content available to others for the publication, distribution, syndication, or broadcast of such Content on other media and services, subject to our terms and conditions for such Content use. Such additional uses by Zorsay or others may be made with no compensation paid to you with respect to the Content that you submit, post, transmit or otherwise make available through the Service.
                            </li>
                            <li>
                              We may modify or adapt your Content in order to transmit, display or distribute it over computer networks and in various media and/or make changes to your Content as are necessary to conform and adapt that Content to any requirements or limitations of any networks, devices, services or media.
                            </li>
                            <li>
                              Additionally, by uploading content to the site, you warrant, represent and agree that you have the right to grant Zorsay the license described above. You also represent, warrant and agree that you have not and will not contribute any Content that:
                            </li>
                          </ul>
                          <ol type="a">
                            <li>
                              infringes, violates or otherwise interferes with any copyright or trademark of another party, .
                            </li>
                            <li>
                              reveals any trade secret, unless the trade secret belongs to you or you have the owner's permission to disclose it,
                            </li>
                            <li>
                              infringes any intellectual property right of another or the privacy or publicity rights of another, 
                            </li>
                            <li>
                              is libelous, defamatory, abusive, threatening, harassing, hateful, offensive or otherwise violates any law or right of any third party,
                            </li>
                            <li>
                              creates an impression that you know is incorrect, misleading, or deceptive, including by impersonating others or otherwise misrepresenting your affiliation with a person or entity; 
                            </li>
                            <li>
                              contains other people's private or personally identifiable information without their express authorization and permission, and/or 
                            </li>
                            <li>
                              contains or links to a virus, trojan horse, worm, time bomb or other computer programming routine or engine that is intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or information. Zorsay reserves the right in its discretion to remove any Content from the Site, suspend or terminate your account at any time, or pursue any other remedy or relief available under equity or law.
                            </li>
                          </ol>
                        <p></p>
                      </div>
                      <div class="panel-heading">
                        <h1>Zorsay's Licenses to You</h1>                   
                      </div>
                      <div class="panel-body">
                        <p class="zstos-terms">
                          </p><ul class="list-unstyled">
                            <li>
                              Subject to these Terms, Zorsay gives you a worldwide, royalty-free, non-assignable and non-exclusive license to re-post any of the Content on Zorsay anywhere on the rest of the web and provided that you: 
                            </li>                        
                          </ul>
                          <ol type="a">
                            <li>
                              do not modify the Content; 
                            </li>
                            <li>
                              attribute Zorsay by name in readable text and with a human and machine-followable link (an HTML &lt;'a'&gt; anchor tag) linking back to the page displaying the original source of the content on www.zorsay.com on every page that contains Zorsay content; 
                            </li>
                            <li>
                              upon request, either by Zorsay or a user, remove the user's name from Content which the user has subsequently made anonymous;
                            </li>
                            <li>
                              upon request, either by Zorsay or by a user who contributed to the Content, make a reasonable effort to update a particular piece of Content to the latest version on www.zorsay.com
                            </li>
                          </ol>
                          <ul class="list-unstyled">
                            <li>
                              You may only use the attribution required by this Section in the manner set out above. In exercising these rights, you may not implicitly or explicitly assert or imply any connection with, sponsorship or endorsement by Zorsay, or any Zorsay user of you or your use of the work, without the separate, express prior written permission of Zorsay or the Zorsay user.
                            </li>
                            <li>
                              If you operate a search engine or robot, or if you republish a significant fraction of all Zorsay Content (as we may determine in our reasonable discretion), you must follow these rules:
                            </li>
                          </ul>
                          <ul>
                            <li>
                              You must use a descriptive user agent header;
                            </li>
                            <li>
                              You must provide prominent attribution to Zorsay;
                            </li>
                            <li>
                              You must follow robots.txt at all times; and
                            </li>
                            <li>
                              You must make it clear how to contact you, either in your user agent string, or on your website if you have one.
                            </li>
                          </ul>
                          <ul class="list-unstyled">
                            <li style="margin-bottom: 10px;">
                              Subject to these Terms, Zorsay gives you a personal, worldwide, royalty-free, revocable, non-assignable and non-exclusive license to use the Service as it is provided to you by Zorsay.
                            </li>
                            <li style="margin-bottom: 10px;">
                              Your Content will be viewable by other users of the Service and through third party services and websites. You should only provide Content that you are comfortable sharing with others under these Terms.
                            </li>
                            <li style="margin-bottom: 10px;">
                              All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such Content. We may not monitor or control the Content posted via the Service. Any use of or reliance on any Content or materials posted via the Service or obtained by you through the Service is at your own risk. We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the Service or endorse any opinions expressed via the Service. You understand that by using the Service, you may be exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate. Under no circumstances will Zorsay be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content made available via the Service or broadcast elsewhere.
                            </li>
                            <li style="margin-bottom: 10px;">
                              You are responsible for your use of the Service, for any Content you provide, and for any consequences thereof, including the use of your Content by other users and third party partners. You understand that your Content may be republished and if you do not have the right to submit Content for such use, it may subject you to liability. Zorsay will not be responsible or liable for any use of your Content by Zorsay in accordance with these Terms.
                            </li>
                            <li style="margin-bottom: 10px;">
                              We reserve the right at all times (but will not have an obligation) to remove or refuse to distribute any Content on the Service and to terminate users or reclaim usernames. We also reserve the right to access, read, preserve, and disclose any information as we reasonably believe is necessary to :
                            </li>
                          </ul>
                          <ol type="a">
                            <li>
                              satisfy any applicable law, regulation, legal process or governmental request,
                            </li>
                            <li>
                              enforce the Terms, including investigation of potential violations hereof,
                            </li>
                            <li>
                              detect, prevent, or otherwise address fraud, security or technical issues, 
                            </li>
                            <li>
                              respond to user support requests, or 
                            </li>
                            <li>
                              protect the rights, property or safety of Zorsay, its users and the public.
                            </li>
                          </ol>
                        <p></p>
                      </div>
                      <div class="panel-heading">
                        <h1>Zorsay Content Policy</h1>                      
                      </div>
                      <ul class="list-unstyled">
                        <li style="margin-bottom: 10px;">
                          The intent of this section is to stress and clarify what we consider to be acceptable use of any website or service provided on Zorsay.
                        </li>
                        <li style="margin-bottom: 10px;">
                          If you are found to be in violation of any of the below policies, you will receive a notice via email. Unless you explain or correct your behavior within 72 hours, your account will be suspended. We will do our best to work with you and ensure a fair outcome in all cases. We reserve the right to immediately suspend, without notice, any content, account, or IP address which we determine to be submitting spam or other potentially damaging or disruptive content to the Network.
                        </li>
                        <li style="margin-bottom: 10px;">
                          When your account is suspended, public access to content contributed under that account may be blocked or removed, and your account may be suspended or deleted at our discretion. Access to other functionality or information within the Network may also be blocked or disabled.
                        </li>
                        <li style="margin-bottom: 10px;">
                          <b>Illegal Use</b>. Zorsay may not be used for illegal purposes. Examples of this include using Zorsay for fraudulent purposes or operating a phishing site (used to obtain account and password information).
                        </li>
                        <li style="margin-bottom: 10px;">
                          <b>Spam</b>. Users that do not publish meaningful content, use deceptive means to generate revenue or traffic, or whose primary purpose is affiliate marketing, will be suspended.
                        </li>
                        <li style="margin-bottom: 10px;">
                          <b>Identity Theft and Privacy</b>. Users that misleadingly appropriate the identity of another person are not permitted. Users may not post other people's personally identifying or confidential information, including but not limited to credit card numbers, PAN Number, and driver's and other license numbers. You may not post information such as other people's passwords, usernames, phone numbers, addresses and e-mail addresses unless already publicly accessible on the Web.
                        </li>
                        <li style="margin-bottom: 10px;">
                          <b>Hate Content, Defamation, and Libel</b>. Hate speech and other objectionable content that is unlawful, defamatory, and fraudulent. Note that an allegation of defamatory expression, in and of itself, does not establish defamation. The truth or falsehood of a bit of expression is a key element in establishing defamation, and we are not in a position to make that sort of fact-based judgment. That said, if we have reason to believe that a particular statement is defamatory (a court order, for example), we will remove that statement.
                        </li>
                        <li style="margin-bottom: 10px;">
                          <b>Disruptions and Exploits</b>. We will terminate accounts and block addresses of those who attempt unauthorized use of Zorsay.
                        </li>
                        <li style="margin-bottom: 10px;">
                          <b>Copyright</b>. Using copyrighted material does not constitute infringement in all cases. In general, however, users should be careful when using copyrighted content without the permission of those who created it.
                        </li>
                        <li style="margin-bottom: 10px;">
                          <b>Mass Registration and Automation</b>. Accounts that are registered automatically or systematically will be removed and access will be permanently suspended.
                        </li>
                        <li style="margin-bottom: 10px;">
                          <b>Sexually Explicit Material</b>. Accounts that use Zorsay to post sexually explicit or pornographic material, or links to it, will be suspended.
                        </li>
                      </ul>
                      <div class="panel-heading">
                        <h1>Zorsay Proprietary Rights</h1>
                      </div>
                      <ul class="list-unstyled">
                        <li style="margin-bottom: 10px;">
                          All right, title, and interest in and to the Service (excluding Content provided by users) are and will remain the exclusive property of Zorsay and its licensors. Except as expressly provided herein, nothing in the Terms gives you a right to use the Zorsay name or any of the Zorsay trademarks, logos, domain names, and other distinctive brand features. 
                        </li>
                        <li style="margin-bottom: 10px;">
                          You may choose to or we may invite you to submit comments or ideas about the Service, including without limitation about how to improve the Service or our products (''Ideas''). By submitting any Idea, you agree that your disclosure is gratuitous, unsolicited and without restriction and will not place Zorsay under any fiduciary or other obligation, and that we are free to use the Idea without any additional compensation to you, and/or to disclose the Idea on a non-confidential basis or otherwise to anyone. You further acknowledge that, by acceptance of your submission, Zorsay does not waive any rights to use similar or related ideas previously known to Zorsay, or developed by its employees, or obtained from sources other than you.
                        </li>
                      </ul>
                      <div class="panel-heading">
                        <h1>Warranty disclaimers</h1>
                      </div>
                      <ul class="list-unstyled">
                        <li style="margin-bottom: 10px;">
                          THE SERVICE IS PROVIDED ON AN ''AS IS'' AND ''AS AVAILABLE'' BASIS. USE OF THE SERVICE IS AT YOUR OWN RISK. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE SERVICE IS PROVIDED WITHOUT WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.
                        </li>
                        <li style="margin-bottom: 10px;">
                          We make no warranty and disclaim all responsibility and liability for the completeness, accuracy, availability, timeliness, security or reliability of the Service or any content thereon. Zorsay will not be responsible or liable for any harm to your computer system, loss of data, or other harm that results from your access to or use of the Service, or any Content. You also agree that Zorsay has no responsibility or liability for the deletion of, or the failure to store or to transmit, any Content and other communications maintained by the Service.
                        </li>
                        <li style="margin-bottom: 10px;">
                          NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM ZORSAY OR THROUGH THE SERVICE WILL CREATE ANY WARRANTY NOT EXPRESSLY STATED HEREIN. WITHOUT LIMITING THE FOREGOING, ZORSAY, ITS SUBSIDIARIES, AND ITS LICENSORS DO NOT WARRANT THAT THE CONTENT IS ACCURATE, RELIABLE, OR CORRECT; THAT THE SERVICE WILL MEET YOUR REQUIREMENTS; THAT THE SERVICE WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION, UNINTERRUPTED, OR SECURE; THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED; OR THAT THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. ANY CONTENT DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS DOWNLOADED AT YOUR OWN RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR MOBILE DEVICE OR LOSS OF DATA THAT RESULTS FROM SUCH DOWNLOAD OR YOUR USE OF THE SERVICE.
                        </li>
                        <li style="margin-bottom: 10px;">
                          ZORSAY DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE ZORSAY SERVICE OR ANY HYPERLINKED WEBSITE OR SERVICE, AND ZORSAY WILL NOT BE A PARTY TO OR IN ANY WAY MONITOR ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.
                        </li>
                      </ul>
                      <div class="panel-heading">
                        <h1>Indemnity</h1>
                      </div>
                      <ul class="list-unstyled">
                        <li>
                        TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ZORSAY AND ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING WITHOUT LIMITATION, LOSS OF PROFITS, DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICE; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICE, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICE; AND (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL THEORY, WHETHER OR NOT ZORSAY HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE
                        </li>
                      </ul>
                      <div class="panel-heading">
                        <h1>Limitation of Liability</h1>
                      </div>
                      <ul class="list-unstyled">
                        <li style="margin-bottom: 10px;">
                        TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL ZORSAY, ITS AFFILIATES, AGENTS, DIRECTORS, EMPLOYEES, SUPPLIERS, OR LICENSORS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING WITHOUT LIMITATION DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA, OR OTHER INTANGIBLE LOSSES, THAT RESULT FROM THE USE OF, OR INABILITY TO USE, THIS SERVICE. UNDER NO CIRCUMSTANCES WILL ZORSAY BE RESPONSIBLE FOR ANY DAMAGE, LOSS, OR INJURY RESULTING FROM HACKING, TAMPERING, OR OTHER UNAUTHORIZED ACCESS OR USE OF THE SERVICE OR YOUR ACCOUNT OR THE INFORMATION CONTAINED THEREIN.
                        </li>
                        <li style="margin-bottom: 10px;">
                        TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ZORSAY ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY 
                        </li>
                        <ol type="I">
                          <li>
                            ERRORS, MISTAKES, OR INACCURACIES OF CONTENT; 
                          </li>
                          <li>
                            PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO OR USE OF OUR SERVICE; 
                          </li>
                          <li>
                            ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION STORED THEREIN; 
                          </li>
                          <li>
                            ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE SERVICE; 
                          </li>
                          <li>
                            ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE THAT MAY BE TRANSMITTED TO OR THROUGH OUR SERVICE BY ANY THIRD PARTY; 
                          </li>
                          <li>
                            ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE THROUGH THE SERVICE; AND/OR 
                          </li>
                          <li>
                            USER CONTENT OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY. IN NO EVENT SHALL ZORSAY, ITS AFFILIATES, AGENTS, FOUNDERS, EMPLOYEES, SUPPLIERS, OR LICENSORS BE LIABLE TO YOU FOR ANY CLAIMS, PROCEEDINGS, LIABILITIES, OBLIGATIONS, DAMAGES, LOSSES OR COSTS IN AN AMOUNT EXCEEDING THE AMOUNT YOU PAID TO ZORSAY HEREUNDER OR RS. 1000.00, WHICHEVER IS GREATER.
                          </li>
                        </ol>
                        <li style="margin-bottom: 10px;">
                          THIS LIMITATION OF LIABILITY SECTION APPLIES WHETHER THE ALLEGED LIABILITY IS BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, OR ANY OTHER BASIS, EVEN IF ZORSAY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.
                        </li>
                        <li>
                          If anyone brings a claim against us related to your actions or Content on the Service, or actions or Content by or from someone using your account, you will indemnify and hold us harmless from and against all damages, losses, and expenses of any kind (including reasonable legal fees and costs) related to such claim.
                        </li>
                      </ul>
                      <div class="panel-heading">
                        <h1>Advertising</h1>
                      </div>
                      <ul class="list-unstyled">
                        <li>
                          The Service may include advertisements, which may be targeted to the Content or information on the Service, queries made through the Service, or other information. The types and extent of advertising by Zorsay on the Service are subject to change. In consideration for Zorsay granting you access to and use of the Service, you agree that Zorsay and its third party providers and partners may place such advertising on the Service or in connection with the display of Content or information from the Service whether submitted by you or others.
                        </li>                  
                      </ul>
                      <div class="panel-heading">
                        <h1>Third Party Links</h1>
                      </div>
                      <ul class="list-unstyled">
                        <li>
                          The Service may contain links to third-party websites or resources. You acknowledge and agree that we are not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by Zorsay of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources. You expressly relieve Zorsay from any and all liability arising from your use of any third-party website, service, or content. Additionally, your dealings with or participation in promotions of advertisers found on the Service, including payment and delivery of goods, and any other terms (such as warranties) are solely between you and such advertisers. You agree that Zorsay shall not be responsible for any loss or damage of any sort relating to your dealings with such advertisers.
                        </li>
                      </ul>
                      <div class="panel-heading">
                        <h1>Privacy</h1>
                      </div>
                      <ul class="list-unstyled">
                        <li>
                          Zorsay care about the privacy of our Users. Please review our Privacy Policy to learn more about how we collect and use information about you via the Service. By using the Service you consent to the transfer of your information for storage, processing and use by Zorsay.
                        </li>
                      </ul>
                      <div class="panel-heading">
                        <h1>Security</h1>
                      </div>
                      <ul class="list-unstyled">
                        <li>
                          Zorsay cares about the integrity and security of your personal information. However, we cannot guarantee that unauthorized third parties will never be able to defeat our security measures or use your personal information for improper purposes. You acknowledge that you provide your personal information at your own risk.
                        </li>
                      </ul>
                      <div class="panel-heading">
                        <h1>General Terms</h1>
                      </div>
                      <ol type="A">
                        <li><b>Assignment</b></li>
                        <ul class="list-unstyled">
                          <li style="margin-bottom: 10px;">
                            This Agreement, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Zorsay without restriction. Any attempted transfer or assignment in violation hereof shall be null and void.
                          </li>
                        </ul>
                        <li><b>Notification Procedures and Changes to the Agreement.</b></li>
                        <ul class="list-unstyled">
                          <li style="margin-bottom: 10px;">
                            This Agreement, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Zorsay without restriction. Any attempted transfer or assignment in violation hereof shall be null and void.
                          </li>
                        </ul>
                        <li><b>Entire Agreement/Severability.</b></li>
                        <ul class="list-unstyled">
                          <li style="margin-bottom: 10px;">
                            This Agreement, together with any amendments and any additional agreements you may enter into with Zorsay in connection with the Service, shall constitute the entire agreement between you and Zorsay concerning the Service. If any provision of this Agreement is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of this Agreement, which shall remain in full force and effect.
                          </li>
                        </ul>
                        <li><b>No Waiver.</b></li>
                        <ul class="list-unstyled">
                          <li style="margin-bottom: 10px;">
                            No waiver of any term of this Agreement shall be deemed a further or continuing waiver of such term or any other term, and Zorsay's failure to assert any right or provision under this Agreement shall not constitute a waiver of such right or provision.
                          </li>
                        </ul>
                        <li><b>Contact.</b></li>
                        <ul class="list-unstyled">
                          <li style="margin-bottom: 10px;">
                            Please contact us <a href=" mailto:feedback@zorsay.com?subject=Zorsay Feedback">feedback@zorsay.com</a> with any questions regarding this Agreement.
                          </li>
                        </ul>
                      </ol>           
                    </div>  <!-- panel end  -->
                  </div>
                </div>
              </div> 
            </div>
          </section>
        </div>

      </div>
    </div>
  </div> 
</section>  