<div class="alert alert-zs alert-dismissable hidden-xs">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>New to Zorsay!</strong>
  	Zorsay is the fun and easy way to discover, ask, and discuss about buying things online. 
  	<a target="_blank" href="/about-zorsay" class="zs-defaultbtn pull-right">Take Tour</a>
</div>