<!-- ZS footer begin -->
<section id="footer">          
  <div class="powered">   <!-- footer powered begin -->
    <div class="panel-footer">
      <div class="container">
        <ul class="list-inline list-group list-group-header">
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">HELP</a></li>
          <li><a href="#">BLOG</a></li>
          <li><a href="#">CAREER</a></li>
          <li><a href="#">LEGAL</a></li>
          <li><a href="#">PRIVACY POLICY</a></li>
          <li><a href="#">TERMS OF USE</a></li>
          <li>|</li>
          <li><a href="#">ANNOUNCEMENT</a></li>
          <li><a href="#">CONTACT US</a></li>
          <li><a href="#">FEEDBACK</a></li>            
        </ul>
      </div>  
      <div class="divider"></div>            
    </div>               
  </div>   <!-- footer powered end -->
</section>
<!-- ZS footer end -->