<div id="zs_global_notification_left" class="zs_div" style="display: none;">
    <!-- <b>Loading...</b> -->
    <!-- <a class='zs_global_notification_close'> X</a> -->
</div>

<div id="zs_global_notification_right" class="zs_div" style="display: none;">
    <!-- <b>Loading...</b> -->
    <!-- <a class='zs_global_notification_close'> X</a> -->
</div>
