<!-- Missing Feature Modal -->
<div class="modal-misf modal fade zs-fade" id="missingFeatureModal" tabindex="-1" role="dialog" aria-labelledby="missingFeatureModalLabel" aria-hidden="true">
  <div class="modal-dialog-missingfeature">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"><b>Almost there!</b></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <form id="wizForm" action="#" class="form-horizontal">
            <div class="wizard-form"> 
            <div class="wizard-content">            

            <h4>We are building this feature and we will Let you know once its  ready.</h4>
            
            <div class="form-group">                
              <div class="col-sm-offset-2 col-sm-8">          
                <input class="form-control" type="email" id="email" placeholder="Your Email Address" required="required">
              </div>
            </div>

            <h5>Meanwhile, share your ideas and thoughts on what you want to see in this feature.</h5>
          
            <div class="form-group">                  
              <div class="col-sm-offset-1 col-sm-10 msg-box">          
                <textarea id="message" name="message" placeholder="Your Ideas and suggestions here." rows="3"></textarea>
              </div>
            </div>

            </div>

            <div class="wizard-buttons">
              <div class="row">
                <div class="col-md-offset-2 col-md-10">
                  <a href="javascript:;" class="btn btn-follow nextBtn">
                  Notify
                  </a>                                   
                </div>
              </div>      
            </div>                    

            </div>
          </form>
        </div>
      </div>
    </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div>