            <!-- Individual Shopex main column begin -->
            <section id="main-content" class="panel col-md-9 col-sm-12 col-xs-12">

              <!-- Shopex Title and Rating summary Begin -->
              <section id="shopex-title">  
                <div class="row">
                  <div class="tshopex-title col-md-9 col-sm-7 col-xs-7">
                      <h3 class="panel-title">
                        <strong>Shopping experience with
                          <span class="label label-seller">
                            <a href="#">Myntra.com</a>
                          </span> for 
                          <span class="label label-ps-category">
                            <a href="#">Men's Fashion</a>
                          </span>
                          <span class="label label-ps-category">
                            <a href="#">Fossil Watch</a>
                          </span>
                          <span class="label label-ps-category">
                            <a href="#">Rayban Sun Glasses</a>
                          </span>
                          <small> 13 days ago from Bangalore</small>
                        </strong>                    
                      </h3>                  
                  </div>   
                  <div class="zs-shopex-title col-md-3 col-sm-5 col-xs-5">              
                    <div class="zs-rating">  
                      <h4 class="pull-left zs-rating-object" style="background-color: #5cb85c;">3.5</h4>
                      <div class="zs-rating-body">
                        <h4 class="zs-rating-desc"><span>Not-Bad </span>Experience</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- Shopex Title and Rating summary End -->

              <!-- Rating Score Start -->
              <section id="rating-score">
              <div class="content-wrap">  
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <table class="table table-condensed shopex-score">
                    <thead>
                      <tr>
                        <th></th>
                        <th><span class="rate-awful">AWFUL</span> <span class="rate-great">GREAT</span></th>
                        <th></th>
                        <th class="comment">comment</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="col-sm-4 criteria">ON-TIME DELIVERY</td>
                        <td>
                          <div class="progress progress-xs">
                            <div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-good">
                            <span class="sr-only">80% Complete (success)</span>
                            </div>
                          </div>
                        </td>
                        <td class="col-sm-1 rating"><span class="label label-good">4.0</span>                          
                        </td>
                        <td>
                          <span class="glyphicon glyphicon-comment spx-nocomment"></span>
                        </td>
                      </tr>
                      <tr>
                        <td class="col-sm-4 criteria">PRODUCT AS DESCRIBED</td>
                        <td>
                          <div class="progress progress-xs">
                            <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-not-bad">
                            <span class="sr-only">60% Complete (success)</span>
                            </div>
                          </div>
                        </td>
                        <td class="col-sm-1 rating"><span class="label label-not-bad">3.0</span></td>
                        <td>                          
                          <span class="glyphicon glyphicon-comment spx-comment"></span>
                        </td>
                      </tr>
                      <tr>
                        <td class="col-sm-4 criteria">PRICING</td>
                        <td>
                          <div class="progress progress-xs">
                            <div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-good">
                            <span class="sr-only">80% Complete (success)</span>
                            </div>
                          </div>
                        </td>
                        <td class="col-sm-1 rating"><span class="label label-good">4.0</span></td>
                        <td>                          
                          <span class="glyphicon glyphicon-comment spx-comment"></span>
                        </td>
                      </tr>
                      <tr>
                        <td class="col-sm-4 criteria">PRODUCT VARIETY</td>
                        <td>
                          <div class="progress progress-xs">
                            <div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-good">
                            <span class="sr-only">80% Complete (success)</span>
                            </div>
                          </div>
                        </td>
                        <td class="col-sm-1 rating"><span class="label label-good">4.0</span></td>
                        <td>                          
                          <span class="glyphicon glyphicon-comment spx-comment"></span>
                        </td>
                      </tr>
                      <tr>
                        <td class="col-sm-4 criteria">EASE OF SHOPPING</td>
                        <td>
                          <div class="progress progress-xs">
                            <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-not-bad">
                            <span class="sr-only">60% Complete (success)</span>
                            </div>
                          </div>
                        </td>
                        <td class="col-sm-1 rating"><span class="label label-not-bad">3.0</span></td>
                        <td>
                          <span class="glyphicon glyphicon-comment spx-nocomment"></span>
                        </td>
                      </tr>
                      <tr>
                        <td class="col-sm-4 criteria">CUSTOMER CARE</td>
                        <td>
                          <div class="progress progress-xs">
                            <div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-good">
                            <span class="sr-only">80% Complete (success)</span>
                            </div>
                          </div>
                        </td>
                        <td class="col-sm-1 rating"><span class="label label-good">4.0</span></td>
                        <td>                          
                          <span class="glyphicon glyphicon-comment spx-nocomment"></span>
                        </td>
                      </tr>
                      <tr>
                        <td class="col-sm-4 criteria">RETURN & REFUND</td>
                        <td>
                          <div class="progress progress-xs">
                            <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-bad">
                            <span class="sr-only">40% Complete (success)</span>
                            </div>
                          </div>
                        </td>
                        <td class="col-sm-1 rating"><span class="label label-bad">2.0</span></td>
                        <td>                          
                          <span class="glyphicon glyphicon-comment spx-comment"></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>   <!-- shopex-1 end -->
              </div> 
              </section>
              <!-- Rating Score End -->
                
              <!-- Shopping Experience in Detail Begin-->
              <section id="shopex-detail">
                <div class="shopex-wrap">

                  <!-- Detail Shopping Experience Begin-->
                  <div class="panel">
                    <div class="panel-heading ">Detail shopping experience</div>
                    <div class="panel-body">
                      <p>This was my first shopping with myntra for my wife. The shipping was delivered at my office and the packaging was so colorful that I had to open and see before giving it to my wife.</p>
                      <p>Along with couple more printed patiala pants for my wife, I had placed order for couple of printed kurta and 3 sets or earning, in the same order. All were separately packed. My wife and I were disappointed with the quality of the item and however the discount was enough to keep the product. We wanted to return 2 Kurtis, which we feel is of low quality. Since we didn't know about the return procedure and its a head ache procedure, so kept the items.</p>
                    </div>
                  </div>
                  <!-- Detail Shopping Experience End-->
                  
                  <div class="row">
                    <section id="buyer">
                    <!-- User Profile 40px Begin -->
                    <div class="col-md-3 col-sm-3 col-xs-3">
                      <div class="profile-wrap">
                        <a href="#">
                          <img class="media-object" alt="User Name displays here" src="img/userpic.jpg">                     
                        </a>
                         <h1>James Bond</h1>
                         <p>Trusted</p>
                      </div>
                    </div>
                    <!-- User Profile 40px End -->

                    <!-- User Bought Begin -->
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <div class="user-bought">
                        <small><strong>bought : </strong></small>
                        <div class="zs-product-tag">
                        <a href="#">
                          <span class="label label-product">Polo T-shirt</span>
                        </a>
                        <a href="#">
                          <span class="label label-product">Mens Kurta</span>
                        </a>
                         <a href="#">
                          <span class="label label-product">Product 3</span>
                        </a>
                         <a href="#">
                          <span class="label label-product">Product 4</span>
                        </a>
                         <a href="#">
                          <span class="label label-product">Product 5</span>
                        </a>
                        <a href="#">
                          <span class="label label-product">Product 6</span>
                        </a>                  
                      </div>
                      </div>
                    </div>
                    <!-- User Bought End -->
                    </section>
                  </div>
               
                  <!-- Shopex footer - comment/share/report Begin -->

                   <div class="row shopex-footer">
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-thankyou">
                        <i>13</i>
                        <input type="checkbox"> Thank You
                      </label>                        
                    </div>
                     <span><a href="#">Comment</a><span>(10)</span></span>
                     <span><a>Report</a></span>
                     <span><a>Share</a></span>
                     <span id="edit"><a>Edit</a></span>
                  </div>

                  <section id="threaded-comments">                    
                    <!-- Thredded Comment Begin -->
                    <div class="comment-list">
                      <!-- New Comment Input Begin -->
                      <div class="comment add-comment">
                        <a href="/Arun">
                          <img class="profile-img comment-img" src="img/userpic.jpg" alt="Arun">
                        </a>
                        <div class="profile-name">
                        <a href="/user1">
                          Arun
                        </a>
                      </div>                       
                          <textarea class="comment-content animated" cols="50" name="comment" placeholder="" rows="2"></textarea>
                          <button class="btn btn-comment"> Your Comment </button>
                      </div>
                      <!-- New Comment Input Eng -->
                      
                      <!-- Comment 2 Begin -->
                      <div class="comment add-comment">
                      <a href="/Arun">
                        <img class="profile-img comment-img" src="img/userpic.jpg" alt="Arun">
                      </a>
                      <a class="comment-upvote" action"" href=""><span class="glyphicon glyphicon-chevron-up"></a>
                       <a class="comment-downvote" action"" href=""><span class="glyphicon glyphicon-chevron-down"></a>
                      <div class="profile-name">
                        <a href="/user1">
                          User 1
                        </a>
                      </div>
                      <div class="full-comment">
                        <p>This is a sample comment. This is a sample comment.This is a sample comment. This is a sample comment.This is a sample comment. This is a sample comment.This is a sample comment. This is a sample comment.This is a sample comment.</p>
                      </div>
                      <div class="comment-footer">
                        <span>
                          <input class="comment-reply" placeholder="Reply...">
                        </span>                        
                        <span><a>Comment</a></span>
                        <span><a>Report</a></span>
                        <span><a>Share</a></span>
                        <span id="edit"><a>Edit</a></span>
                      </div>
                        
                      </div>                    
                      <!-- Comment 2 End -->

                      <!-- Comment 3 Begin -->
                      <div class="comment add-comment">
                      <a href="/Arun">
                        <img class="profile-img" src="img/userpic.jpg" alt="Arun">
                      </a>
                      <a class="comment-upvote" action"" href=""><span class="glyphicon glyphicon-chevron-up"></a>
                       <a class="comment-downvote" action"" href=""><span class="glyphicon glyphicon-chevron-down"></a>
                      <div class="profile-name">
                        <a href="/user2">
                          User 2
                        </a>
                      </div>
                      <div class="full-comment">
                        <p>This is a sample comment. This is a sample comment.This is a sample comment. This is a sample comment.This is a sample comment.</p>
                      </div>
                      <div class="comment-footer">
                        <span>
                          <input class="comment-reply" placeholder="Reply...">
                        </span>                        
                        <span><a>Comment</a></span><span>(2)</span>
                        <span><a>Report</a></span>
                        <span><a>Share</a></span>
                        <span id="edit"><a>Edit</a></span>
                      </div>
                        
                        <!-- First Reply Begin -->
                        <div class="reply-on-comment">
                          <a href="/Arun">
                          <img class="profile-img" src="img/userpic.jpg" alt="Arun">
                        </a>
                        <a class="comment-upvote" action"" href=""><span class="glyphicon glyphicon-chevron-up"></a>
                         <a class="comment-downvote" action"" href=""><span class="glyphicon glyphicon-chevron-down"></a>
                        <div class="profile-name">
                          <a href="/user3">
                            User 3
                          </a>
                        </div>
                        <div class="full-comment">
                          <p>This is a sample comment. This is a sample comment. This is a sample comment. This is a sample comment. This is a sample comment.</p>
                        </div>
                        <div class="comment-footer">
                          <span>
                            <input class="comment-reply" placeholder="Reply...">
                          </span>                        
                          <span><a>Comment</a></span><span></span>
                          <span><a>Report</a></span>
                          <span><a>Share</a></span>
                          <span id="edit"><a>Edit</a></span>
                        </div>
                        <!-- First Reply End -->

                        <!-- Second Reply Begin -->
                        <a href="/Arun">
                        <img class="profile-img" src="img/userpic.jpg" alt="Arun">
                        </a>
                        <a class="comment-upvote" action"" href=""><span class="glyphicon glyphicon-chevron-up"></a>
                         <a class="comment-downvote" action"" href=""><span class="glyphicon glyphicon-chevron-down"></a>
                        <div class="profile-name">
                          <a href="/user4">
                            User 4
                          </a>
                        </div>
                        <div class="full-comment">
                          <p>This is a sample comment. This is a sample comment. This is a sample comment. This is a sample comment. This is a sample comment.</p>
                        </div>
                        <div class="comment-footer">
                          <span>
                            <input class="comment-reply" placeholder="Reply...">
                          </span>                        
                          <span><a>Comment</a></span><span>(1)</span>
                          <span><a>Report</a></span>
                          <span><a>Share</a></span>
                          <span id="edit"><a>Edit</a></span>
                        </div>
                        <!-- Second Reply End -->  

                        <!-- Reply on comment 1 Begin -->
                        <div class="reply-on-comment">
                          <a href="/Arun">
                          <img class="profile-img" src="img/userpic.jpg" alt="Arun">
                        </a>
                        <a class="comment-upvote" action"" href=""><span class="glyphicon glyphicon-chevron-up"></a>
                         <a class="comment-downvote" action"" href=""><span class="glyphicon glyphicon-chevron-down"></a>
                        <div class="profile-name">
                          <a href="/user5">
                            User 5
                          </a>
                        </div>
                        <div class="full-comment">
                          <p>This is a sample comment. This is a sample comment. This is a sample comment. This is a sample comment. This is a sample comment.</p>
                        </div>
                        <div class="comment-footer">
                          <span>
                            <input class="comment-reply" placeholder="Reply...">
                          </span>                        
                          <span><a>Comment</a></span><span>(1)</span>
                          <span><a>Report</a></span>
                          <span><a>Share</a></span>
                          <span id="edit"><a>Edit</a></span>
                        </div>

                        <div class="reply-on-comment"> <!-- Reply on comment 2.1 Begin -->
                          <a href="/Arun">
                          <img class="profile-img" src="img/userpic.jpg" alt="Arun">
                        </a>
                        <a class="comment-upvote" action"" href=""><span class="glyphicon glyphicon-chevron-up"></a>
                         <a class="comment-downvote" action"" href=""><span class="glyphicon glyphicon-chevron-down"></a>
                        <div class="profile-name">
                          <a href="/user6">
                            User 6
                          </a>
                        </div>
                        <div class="full-comment">
                          <p>This is a sample comment. This is a sample comment. This is a sample comment. This is a sample comment. This is a sample comment.</p>
                        </div>
                        <div class="comment-footer">
                          <span>
                            <input class="comment-reply" placeholder="Reply...">
                          </span>                        
                          <span><a>Comment</a></span><span>(1)</span>
                          <span><a>Report</a></span>
                          <span><a>Share</a></span>
                          <span id="edit"><a>Edit</a></span>
                        </div> 

                          <div class="reply-on-comment"> <!-- Reply on comment 2.2 Begin -->
                            <a href="/Arun">
                            <img class="profile-img" src="img/userpic.jpg" alt="Arun">
                          </a>
                          <a class="comment-upvote" action"" href=""><span class="glyphicon glyphicon-chevron-up"></a>
                           <a class="comment-downvote" action"" href=""><span class="glyphicon glyphicon-chevron-down"></a>
                          <div class="profile-name">
                            <a href="/user7">
                              User 7
                            </a>
                          </div>
                          <div class="full-comment">
                            <p>This is a sample comment. This is a sample comment. This is a sample comment.This is a sample comment. This is a sample comment.</p>
                          </div>
                          <div class="comment-footer">
                            <span>
                              <input class="comment-reply" placeholder="Reply...">
                            </span>                        
                            <span><a>Comment</a></span><span></span>
                            <span><a>Report</a></span>
                            <span><a>Share</a></span>
                            <span id="edit"><a>Edit</a></span>
                          </div> 
                        </div> <!-- Reply on comment 2.2 End -->

                        </div> <!-- Reply on comment 2.1 End -->

                      </div> <!-- Reply on comment 1 End -->
                      
                      <!-- Third Reply Begin -->  
                      <a href="/Arun">
                          <img class="profile-img" src="img/userpic.jpg" alt="Arun">
                        </a>
                        <a class="comment-upvote" action"" href=""><span class="glyphicon glyphicon-chevron-up"></a>
                         <a class="comment-downvote" action"" href=""><span class="glyphicon glyphicon-chevron-down"></a>
                        <div class="profile-name">
                          <a href="/user8">
                            User 8
                          </a>
                        </div>
                        <div class="full-comment">
                          <p>This is a sample comment. This is a sample comment. This is a sample comment. This is a sample comment. This is a sample comment.</p>
                        </div>
                        <div class="comment-footer">
                          <span>
                            <input class="comment-reply" placeholder="Reply...">
                          </span>                        
                          <span><a>Comment</a></span><span></span>
                          <span><a>Report</a></span>
                          <span><a>Share</a></span>
                          <span id="edit"><a>Edit</a></span>
                        <!-- Third Reply Begin -->  
                        </div>                      
                      </div> <!-- User 3 Comment End -->

                      <a href="/Arun">
                        <img class="profile-img comment-img" src="img/userpic.jpg" alt="Arun">
                      </a>
                      <a class="comment-upvote" action"" href=""><span class="glyphicon glyphicon-chevron-up"></a>
                       <a class="comment-downvote" action"" href=""><span class="glyphicon glyphicon-chevron-down"></a>
                      <div class="profile-name">
                        <a href="/user9">
                          User 9
                        </a>
                      </div>
                      <div class="full-comment">
                        <p>This is a sample comment. This is a sample comment. This is a sample comment. This is a sample comment. This is a sample comment. This is a sample comment. This is a sample comment. This is a sample comment. This is a sample comment.</p>
                      </div>
                      <div class="comment-footer">
                        <span>
                          <input class="comment-reply" placeholder="Reply...">
                        </span>                        
                        <span><a>Comment</a></span>
                        <span><a>Report</a></span>
                        <span><a>Share</a></span>
                        <span id="edit"><a>Edit</a></span>
                      </div>
                        
                      
                  </section>

                  <!-- Shopex footer - comment/share/report End -->
                </div>
              </section>
              <!-- Shopping Experience in Detail End-->
            
            </section>
            <!-- Individual Shopex main column begin -->
