<!DOCTYPE html>
<html lang="en">

  <%- include zs_head_meta.ejs %>
  <%- include zs_external_scripts %>

  <head>
    <title>Shopping Experience for - Zorsay</title> <!-- #TODO put the full shopex title here -->
  </head>

  <body>
    <!-- ZS single Shopex Page begin -->
    <section id="zs-signup-page">

      <!-- ZS Fixed navbar begin -->
      <%- rendered_include('views/zs_navbar.ejs', {navbar_data: {}}) %>
      <!-- ZS Fixed navbar end -->

      <div class="container">

        <!-- ZS top header begin -->
        <%- include zs_top_header.ejs %>
        <!-- ZS top header end -->

        
      </div>
      <!-- div class="container" end -->
    </section>
    <!-- section id="zs-all-shopex-page" end -->
    
    <%//- include zs_end_footer.ejs %>
    <!-- ZS Single Shopex Page end -->


    <!-- start loading and running the scripts -->
    <script data-main="/js/zs_signup_page" type="text/javascript" src="/js/libs/require.js"></script>

  </body>
</html>