<div class="user-update modal fade" id="userProfileEditModal" tabindex="-1" role="dialog" aria-labelledby="userProfileEditModal" aria-hidden="true">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="modal-content">
      <div class="modal-body">
        
        <div class="form-group">
          <form id="wizForm" action="#" class="form-horizontal" >
            <div class="wizard-form">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>      
               <div class="wizard-content">
                <!-- Individual Tab Content Begin -->
                <div class="tab-content">
                 <!-- Alert in case of validation error - Begin -->
                  <div class="alert alert-danger display-none">
                    <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
                    Your form has errors. Please correct them to proceed.
                  </div>                     

                  <div class="alert alert-success display-none">
                    <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
                    Your form validation is successful!
                  </div>
                  <!-- Alert in case of validation error - Begin -->

                  <!-- First Tab Begin 1 of 3 -->
                  <div class="tab-pane step1 active" id="rate-comment">

                  <h2><strong>Update Account Information</strong></h2>
                    <div class="form-group">
                    <label class="col-md-4 col-sm-5 control-label">First Name</label>
                    <div class="col-md-5 col-sm-6">
                        <input class="form-control" id="first_name" type="text" placeholder="Your First Name">
                    </div>
                    </div>
                    <div class="form-group">
                    <label class="col-md-4 col-sm-5 control-label">Last Name</label>
                    <div class="col-md-5 col-sm-6">
                        <input class="form-control" id="last_name" type="text" placeholder="Your Last Name">
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="col-md-4 col-sm-5 control-label">Small Bio</label>
                    <div class="col-md-7 col-sm-6">
                    <div class="comment-box">
                      <textarea id="aboutme" cols="50" name="comment" placeholder="Write a short Bio about yourself." rows="7"></textarea>
                    </div>
                    </div>

                    </div>

                    <div class="form-group">
                    <label class="col-md-4 col-sm-5 control-label">Area Code : </label>
                    <div class="col-md-3 col-sm-6">
                        <input class="form-control" id="areacode" type="text" placeholder="Pin Code">
                    </div>                       
                    </div>

                    <div class="form-group">
                    <label class="col-md-4 col-sm-5 control-label">Edit Photo: </label>
                    <div class="col-md-6 col-sm-6">
                        <input class="form-control" id="profile_image_url" type="text" placeholder="">
                    </div>
                    <div class="col-md-2 col-sm-2 pr-link">
                        <a href="">Browse</a>
                    </div>
                    </div>

                    <abbr style="text-align:center;" class="alert col-md-offset-4 col-md-6" id="user-profile-message"></abbr>

                  </div>  <!-- tab 1 -->


                </div>

                <!-- Individual Tab Content End -->

               </div>

               <div class="wizard-buttons">
                <div class="row">
                 <div class="col-md-12">
                  
                  <label class="col-md-4 col-sm-4 control-label">Verify Password: </label>
                  <div class="col-md-5 col-sm-5">
                      <input class="form-control" id="verify_password" type="password" placeholder="">
                  </div>
                  
                  <div class="col-md-2 col-sm-2">
                    <a href="#" id="user_profile_update_btn" class="btn btn-follow">Update
                    </a>
                  </div>
                 </div>
                </div>
               </div>

               <!-- <div class="row">
               <abbr style="display: inline-block; text-align:center;" class="alert alert-danger col-md-12" id="user-profile-message">hello darkness
               </abbr>
               </div> -->

            </div>
          </form>              
        </div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
