<head>
  <title> Read all shopping experiences | Zorsay </title>
  <link href="css/style.css" rel="stylesheet">
</head>

<!-- Fixed toolbar -->
<div class="navbar navbar-toolbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#userhome"><img title="zorsay" id="zorsay-sl" src="images/zorsay-sl.png"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">            
        <li>
            <a href="#reviews/all">Shopping Experiences 
                <span class="badge btn-default">
                    <% if (typeof(notif_count) != "undefined") {  %>
                      <%= notif_count %>
                    <% } else { %>
                      new
                    <% } %>
                </span>
            </a>
        </li>
      </ul> 
      <ul class="nav navbar-nav navbar-right">            
        <li><a href="#userhome">Write Shopping Experience</a></li>
        <!--<li><a href="#">Give us a Tip!</a></li> -->
        <li class="dropdown">
            <a href="#profile" class="dropdown-toggle" data-toggle="dropdown">
                <% if (typeof(first_name) != "undefined") {  %>
                  <%= first_name %>
                <% } else { %>
                  My Account
                <% } %>
                <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
            <li><a href="#profile">Profile</a></li>
            <!-- <li><a href="#settings">Settings</a></li> -->
            <li class="divider"></li>
            <li><a href="#logout">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
  <div class="jumbotron" style="margin-top: 55px; text-align: center;">
    <p>Read Other's shopping experiences</p>      
  </div>

<!--   <div class="panel panel-default" style="margin-bottom: 40px;">
    <div class="panel-body" style="width: 760px;">
      <div class="row"> -->
        <div class="review_list">
        </div> <!-- review_list -->
<!--       </div>
    </div>
  </div> -->

  <div class="zs-fcontainer">
    <footer>
      <div class="zs-exfooter">        
      <span class="links">          
        <a class="btn btn-primary btn-sm" href="mailto:contact@zorsay.com" role="button">Contact Us</a>
        <a class="btn btn-primary btn-sm" href="http://blog.zorsay.com/" role="button">Our Story</a>
      </span>
      <span class="icons">
        <a target="_blank" href="https://www.facebook.com/say.zorsay">
          <img width="32" height="32" src="images/icon_facebook_32.png" alt="f">
        </a>   
        <a target="_blank" href="#">
          <img width="32" height="32" src="images/icon_twitter_32.png" alt="t">
        </a>           
      </span> 
      </div>        
    </footer> 
  </div>
</div> <!-- container -->




<!-- Vendor list Online or Offline -->
<ul class="vendor_list" />
<!-- Product or Service Category List -->
<ul class="psc_list" /> 
<!-- <hr> -->
<!-- <p><a href="#profile/me">See My Profile</a></p> -->
<!-- <p><a href="#userhome">Home</a></p> -->
<!-- <p><a href="#logout">Logout</a></p> -->
<!-- <hr> -->
<!-- <legend><b>Shopping Experiences</b> of people</legend> -->
<!-- <ul class="review_list" /> -->

