<head>
  <title>Sign up | Zorsay </title>
  <link href="css/signup.css" rel="stylesheet">
</head>

<div class="container">

  <h2 class="form-signin-heading text-center">Sing up to discover, discuss and share shopping experiences</h2>

  <div class="card card-signin">
    <a href="#login">
      <img class="profile-img" src="images/zorsay-sl.png" alt="">
    </a>
    <form class="form-signin" role="form">
      <p class="error alert alert-success" id="error"></p>
      <input type="text" name="firstname" class="form-control" placeholder="Name" required autofocus>
      <input type="text" name="email" class="form-control" placeholder="Email" required>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" id="register_btn" type="submit">Sign Up</button>

      <div>
        <a class="pull-left" style="text-align: center; margin-top: 10px; margin-left: 15px;" href="#">Explore Zorsay community guidelines.</a>
      </div>

      <div>
        <a class="" href="#login">Login</a>            
        <!-- <label class="checkbox">
          <input type="checkbox">Keep me logged in
        </label> -->
      </div>

    </form>
  </div>          
</div> <!-- /container -->

 <footer>
    <div class="zs-footer">        
    <span class="links">          
      <a class="btn btn-primary btn-sm" href="mailto:contact@zorsay.com" role="button">Contact Us</a>
      <a class="btn btn-primary btn-sm" href="http://blog.zorsay.com/" role="button">Our Story</a>
    </span>
    <span class="icons">
      <a target="_blank" href="https://www.facebook.com/say.zorsay">
        <img width="32" height="32" src="images/icon_facebook_32.png" alt="f">
      </a>   
      <a target="_blank" href="#">
        <img width="32" height="32" src="images/icon_twitter_32.png" alt="t">
      </a>           
    </span> 
    </div>        
  </footer> 























