<div class="review_single" />
  <div class="col-md-9">
    <h5 style="text-align: left;">Your shopping experience with <span class="label label-default"><% if (typeof(vendor) != "undefined") {  %><%= vendor %><% } %></span> for buying <span class="label label-default"><% if (typeof(pscategory) != "undefined") {  %><%= pscategory %><% } %></span></h5>
  </div>
  <div class="col-md-3" style="float: right;">
    <h5 style="text-align: right;">Overall Rating</h5>
  </div>
  <div class="col-md-3">
    <h5 style="text-align: left; font-weight: bold;">Criteria</h5>                    
  </div>
  <div class="col-md-6">
    <h5 style="text-align: left; font-weight: bold;">Comments</h5>
  </div>
  <div class="col-md-3">
     <h5 style="text-align: right; font-weight: bold;">Rating</h5>
  </div> 

  <div class="overall"></div>
  <div class="col-xs-12">
    <div class="zs-feed">                                    
      <ul class="list-unstyled user-review-structured">
        <% if ((typeof(otd_comment) != "undefined") && (otd_comment.length > 10) ) {  %>
          <li>
            <span class="user-criteria">On-Time Delivery</span>
            <span class="user-criteria-comment"><%= otd_comment %></span>
            <span class="user-criteria-rating"><%= otd_rating %>.0</span>
          </li>
        <% } %> >

        <% if ((typeof(pad_comment) != "undefined") && (pad_comment.length > 10) ) {  %>
          <li>
            <span class="user-criteria">Product as described</span>
            <span class="user-criteria-comment"><%= pad_comment %></span>
            <span class="user-criteria-rating"><%= pad_rating %>.0</span>
          </li>
        <% } %> >

        <% if ((typeof(pri_comment) != "undefined") && (pri_comment.length > 10) ) {  %>
          <li>
            <span class="user-criteria">Pricing</span>
            <span class="user-criteria-comment"><%= pri_comment %></span>
            <span class="user-criteria-rating"><%= pri_rating %>.0</span>
          </li>
        <% } %> >

        <% if ((typeof(pro_comment) != "undefined") && (pro_comment.length > 10) ) {  %>
          <li>
            <span class="user-criteria">Product Variety</span>
            <span class="user-criteria-comment"><%= pro_comment %></span>
            <span class="user-criteria-rating"><%= pro_rating %>.0</span>
          </li>
        <% } %> >

        <% if ((typeof(eos_comment) != "undefined") && (eos_comment.length > 10) ) {  %>
          <li>
            <span class="user-criteria">Ease of Shopping</span>
            <span class="user-criteria-comment"><%= eos_comment %></span>
            <span class="user-criteria-rating"><%= eos_rating %>.0</span>
          </li>
        <% } %> >

        <% if ((typeof(csu_comment) != "undefined") && (csu_comment.length > 10) ) {  %>
          <li>
            <span class="user-criteria">Customer Care</span>
            <span class="user-criteria-comment"><%= csu_comment %></span>
            <span class="user-criteria-rating"><%= csu_rating %>.0</span>
          </li>
        <% } %> >

        <% if ((typeof(rrp_comment) != "undefined") && (rrp_comment.length > 10) ) {  %>
          <li>
            <span class="user-criteria">Return & Refund Service</span>
            <span class="user-criteria-comment"><%= rrp_comment %></span>
            <span class="user-criteria-rating"><%= rrp_rating %>.0</span>
          </li>
        <% } %> >

        <li>
          <span class="user-criteria">Overall Rating</span>
          <span class="user-criteria-rating"><%= all_rating %>.0</span>
        </li>      
      </ul>                                           
    </div>    
  </div>

  <div class="col-md-12">
    <h5 style="text-align: left; font-weight: bold;">Detailed Shopping Experience</h5>          
    <div class="overall"></div>
    <p><%= reviewText %></p>
  </div>
<!--   <div class="col-md-2" style="margin: 15px auto;">
    <button type="button" class="btn btn-default btn-sm">Mark as Helpful</button>
  </div> -->  
  <div class="overall"></div>
</div> <!-- review_single -->