<div>
	<b><%= vendor %></b> in <b> <%= pscategory %> </b> :
	<br>
	<div><%= reviewText %></div>
	<div class="show_rating" id="show_rating_id" >
		<div id="otd_rating_canvas" class="rating_canvas rating_box">
			<p>
				<% if (typeof(otd_rating) != "undefined") { %>
					<%= otd_rating %>
				<% } else { %>
					n/a
				<% } %>
			</p>
		</div>

		<div id="pad_rating_canvas" class="rating_canvas rating_box even">
			<p>
				<% if (typeof(pad_rating) != "undefined") { %>
					<%= pad_rating %>
				<% } else { %>
					n/a
				<% } %>
			</p>
		</div>

		<div id="pri_rating_canvas" class="rating_canvas rating_box">
			<p>
				<% if (typeof(pri_rating) != "undefined") { %>
					<%= pri_rating %>
				<% } else { %>
					n/a
				<% } %>
			</p>
		</div>

		<div id="pro_rating_canvas" class="rating_canvas rating_box even">
			<p>
				<% if (typeof(pro_rating) != "undefined") { %>
					<%= pro_rating %>
				<% } else { %>
					n/a
				<% } %>
			</p>
		</div>

		<div id="eos_rating_canvas" class="rating_canvas rating_box">
			<p>
				<% if (typeof(eos_rating) != "undefined") { %>
					<%= eos_rating %>
				<% } else { %>
					n/a
				<% } %>
			</p>
		</div>

		<div id="rrp_rating_canvas" class="rating_canvas rating_box even">
			<p>
				<% if (typeof(rrp_rating) != "undefined") { %>
					<%= rrp_rating %>
				<% } else { %>
					n/a
				<% } %>
			</p>
		</div>

		<div id="csu_rating_canvas" class="rating_canvas rating_box">
			<p>
				<% if (typeof(csu_rating) != "undefined") { %>
					<%= csu_rating %>
				<% } else { %>
					n/a
				<% } %>
			</p>
		</div>

<!-- 		<canvas id="otd_rating_canvas" class="rating_canvas" style="display:inline;" width="50" height="50"></canvas>
		<canvas id="otd_rating_canvas" class="rating_canvas" style="display:inline;" width="50" height="50"></canvas>
		<canvas id="otd_rating_canvas" class="rating_canvas" style="display:inline;" width="50" height="50"></canvas>
		<canvas id="otd_rating_canvas" class="rating_canvas" style="display:inline;" width="50" height="50"></canvas>
		<canvas id="otd_rating_canvas" class="rating_canvas" style="display:inline;" width="50" height="50"></canvas>
		<canvas id="otd_rating_canvas" class="rating_canvas" style="display:inline;" width="50" height="50"></canvas>
		<canvas id="otd_rating_canvas" class="rating_canvas" style="display:inline;" width="50" height="50"></canvas>
 -->	
 	</div>



	<% if (typeof(otd_rating) != "undefined") { %>



		<script>
			// var i = 0;
			// color = ["#DFE1E3","#FF6C7C","#FCC940","#4356C0","#F25A29","#AD62CE","#30B6AF"];
			// border_color = ["#D4D6D7","#EB5D6C","#F3BA25","#3445A2","#DC4717","#9453B1","#46A39E"];
			// // var c = $('<div class="otd_r" id="otd_r_id">')
			// var c = $(".rating_canvas");
			// // console.log(c);
			// // var c = document.getElementById("otd_rating_canvas");
			// for (i=0; i<c.length; ++i) {
			// 	var ctx=c[i].getContext("2d");
			// 	ctx.beginPath();
			// 	ctx.arc(25,25,20,0,2*Math.PI);
			// 	ctx.lineWidth = 10;
			// 	ctx.strokeStyle = border_color[i];
			// 	ctx.stroke();
			// 	ctx.fillStyle = color[i];
			// 	ctx.fill();
				
			// 	ctx.font="20px Arial";
			// 	ctx.textAlign="center"; 
			// 	ctx.fillStyle = "#FFFFFF";
			// 	ctx.fillText("4.2",25,25);
			// 	ctx.fillStyle = "";
				
			// }
			// $(".rating_canvas").mouseover(function(){console.log("ggggggggggggg")});
		</script> 
	<% } %>
	<hr>
</div>