<head>
	<title>Recover Your Account | Zorsay </title>
	<link href="css/signup.css" rel="stylesheet">
</head>

<div class="container">
  <h2 class="form-signin-heading text-center">Zorsay Password Recovery</h2>
  
  <div class="card card-signin">
  	<a href="#login">
    	<img class="profile-img" src="images/zorsay-sl.png" alt="">
    </a>
    <form class="form-signin" role="form">
      <h2 class="form-signin-heading text-center" style="color: #292929">Enter your Email address</h2>
      <!-- email -->
      <input type="text" name="email" class="form-control" placeholder="Email" required>
      <!-- submit button -->
      <button class="btn btn-lg btn-primary btn-block" id="forgot_passwd_btn" type="submit">Resend a new Password</button>
      <!-- message (hidden) -->
      <p class="message alert alert-success" id="message"></p>

      <div>
      	<a style="text-align: center; margin-top: 10px; margin-left: 0px;" href="#login">Login</a>
      </div>
    </form>
  </div>
</div> <!-- /container -->
  
  <footer>
    <div class="zs-footer">        
    <span class="links">          
      <a class="btn btn-primary btn-sm" href="mailto:contact@zorsay.com" role="button">Contact Us</a>
      <a class="btn btn-primary btn-sm" href="http://blog.zorsay.com/" role="button">Our Story</a>
    </span>
    <span class="icons">
      <a target="_blank" href="https://www.facebook.com/say.zorsay">
        <img width="32" height="32" src="images/icon_facebook_32.png" alt="f">
      </a>   
      <a target="_blank" href="#">
        <img width="32" height="32" src="images/icon_twitter_32.png" alt="t">
      </a>           
    </span> 
    </div>        
  </footer>    
  
