<h1><b>ZORSAY</b> Home</h1>
<!-- <hr> -->
<h2>Welcome to King's Landing</h2>

<form>
<fieldset>
  <legend>Tell us you mail id, to get Notified When we launch <b>Full Blown</b>.</legend>

  <p class="error" id="error"></p>

  <label>
    Email:
    <input type="text" name="email">
  </label>

  <!-- <br /> -->

<!--   <label>
    Password:
    <input type="password" name="password">
  </label>

  <br />
 -->
  <!-- <p>Submit to get Notified When we launch</p> -->
  <input class="submit_button" type="submit" value="Submit">
</fieldset>
</form>

<!-- <ul> -->
  <!-- <li> -->
  <li><a href="#login">Login</a></li>
  <li><a href="#register">Sign Up</a></li>
  <!-- </li> -->
  <!-- <li><a href="#forgotpassword">Forgot Password?</a></li> -->
  <!-- <li><a href="#register">Sign Up</a></li> -->
<!-- </ul> -->
