<div class="review_block">
	<div class="meta_review_div" align="center">
		<span class="review_info">
			<b><%= vendor %></b> in <b> 

			<% if (typeof(pscategory) != "undefined") {  %><%= pscategory %><% } %>
			
			</b> :
			<br>
		</span>

		<span class="review_rating" id="show_rating_id" >
			<div id="otd_rating_canvas" class="rating_canvas rating_box" comment=
				<% if (typeof(otd_comment) != "undefined") {  %><%= '"'+otd_comment+'"' %><% } else { %>"No Mention"<% } %>	>

				<p>
					<% if (typeof(otd_rating) != "undefined") { %>
						<%= otd_rating %>.0
					<% } else { %>
						n/a
					<% } %>
				</p>
			</div>

			<div id="pad_rating_canvas" class="rating_canvas rating_box even" comment=
				<% if (typeof(pad_comment) != "undefined") {  %>
							<%= '"'+pad_comment+'"' %>
						<% } else { %>
							"No Mention"
				<% } %>
				>

				<p>
					<% if (typeof(pad_rating) != "undefined") { %>
						<%= pad_rating %>.0
					<% } else { %>
						n/a
					<% } %>
				</p>
			</div>

			<div id="pri_rating_canvas" class="rating_canvas rating_box" comment=
				<% if (typeof(pri_comment) != "undefined") {  %>
							<%= '"'+pri_comment+'"' %>
						<% } else { %>
							"No Mention"
				<% } %>
				>

				<p>
					<% if (typeof(pri_rating) != "undefined") { %>
						<%= pri_rating %>.0
					<% } else { %>
						n/a
					<% } %>
				</p>
			</div>

			<div id="pro_rating_canvas" class="rating_canvas rating_box even" comment=
				<% if (typeof(pro_comment) != "undefined") {  %>
							<%= '"'+pro_comment+'"' %>
						<% } else { %>
							"No Mention"
				<% } %>
				>

				<p>
					<% if (typeof(pro_rating) != "undefined") { %>
						<%= pro_rating %>.0
					<% } else { %>
						n/a
					<% } %>
				</p>
			</div>

			<div id="eos_rating_canvas" class="rating_canvas rating_box" comment=
				<% if (typeof(eos_comment) != "undefined") {  %>
							<%= '"'+eos_comment+'"' %>
						<% } else { %>
							"No Mention"
				<% } %>
				>

				<p>
					<% if (typeof(eos_rating) != "undefined") { %>
						<%= eos_rating %>.0
					<% } else { %>
						n/a
					<% } %>
				</p>
			</div>

			<div id="rrp_rating_canvas" class="rating_canvas rating_box even" comment=
				<% if (typeof(rrp_comment) != "undefined") {  %>
							<%= '"'+rrp_comment+'"' %>
						<% } else { %>
							"No Mention"
				<% } %>
				>

				<p>
					<% if (typeof(rrp_rating) != "undefined") { %>
						<%= rrp_rating %>.0
					<% } else { %>
						n/a
					<% } %>
				</p>
			</div>

			<div id="csu_rating_canvas" class="rating_canvas rating_box" comment=
				<% if (typeof(csu_comment) != "undefined") {  %>
							<%= '"'+csu_comment+'"' %>
						<% } else { %>
							"No Mention"
				<% } %>
				>

				<p>
					<% if (typeof(csu_rating) != "undefined") { %>
						<%= csu_rating %>.0
					<% } else { %>
						n/a
					<% } %>
				</p>
			</div>
	 	</span>

	 	<div style="clear: both;"></div>
	 </div>
	 <br>

	<div class="text_review_div"><%= reviewText %></div>
	<!-- <hr> -->
</div>