/*
 * Zorsay - Messages Modal  v1.1 (http://www.zorsay.com)
 * Copyright 2014 Zorsay, pvt ltd. 
*/

.modal-msgs .modal-dialog {  
  margin: 10px auto;
  width: 600px;
}

.modal-msgs .wizard-content{
	margin-top: 15px;
}

.modal-msgs .wizard-buttons{
	padding-top: 0px;	
}

.modal-msgs .col-sm-7, .col-sm-8{
	padding-left: 0px;
}

.modal-msgs .form-group{
	margin-bottom: 5px;
}

.modal-msgs .modal-header {	
	padding: 10px 15px 0px 15px;	
}

.modal-msgs .qn-title{
	margin-top: 10px;
	margin-right: 5px;
}

.modal-msgs .modal-title{
	font-size: 1.2em;
}

.msg-box {
position: relative;
display: block;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 2px;
margin-top: 3px;
}

.msg-box textarea {
position: relative;
display: inline-block;
width: 100%;
margin-top: 0px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #ccc;
font-size: 0.95em;
min-height: 60px;
padding: 5px;