/*
 * Zorsay - POPOVER v1.1 (http://www.zorsay.com)
 * Copyright 2014 Zorsay, pvt ltd. 
*/


/*POPOVER user profile Begin */
.popover-profile .row{
	margin-right: 0px;
	margin-left: 0px;
}

.popover-prodcat .row{
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 5px;
}

.popover-store .row{
	margin-right: 0px;
	margin-left: 5px;	
	margin-bottom: 5px;
}

.popover-store,
.popover-prodcat,
.popover-sercat {
 width: 260px;
}

.popover {
	position: fixed;
}

.popover-profile .popover {
position: relative;
display: block;
float: left;
width: 260px;
padding: 5px;
}

.pop-user:before{
	display: table;
	content: "";
	zoom:1;
}

.pop-user{
	zoom: 1;
	margin: 6px 6px 4px;
}

.pop-user .mini-profile-img{
	display: inline-block;
	width: 50px;
	height: 50%;
	margin-right: 6px;
	float: left;
}

.mini-profile-img{
	vertical-align: middle;
}

.mini-username{
	width: 160px;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	font-weight: bold;
}

.mini-username:hover{
	color: #337294;
}

.mini-points {
	width: 160px;
	margin-top: -10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	font-size: 0.9em;
	font-weight: bold;
}

.mini-points a:hover{
	color: #337294;
}

.mini-points span {
	color: #999;
	font-size: 0.7em;
	font-weight: normal;
}

.mini-sellername{		
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
	font-weight: bold;
	font-size: 0.9em;
	color: #337294;
}

.popover-store .media-body h4{	
	margin-top: 3px;
	margin-bottom: 5px;
}
.popover-store .media-body a:hover{
	color: #337294;	
}

.popover-prodcat .media-body h4{	
	margin-top: 0px;
	margin-bottom: 5px;
}


.popover-store .media-body h6{	
	margin-top: 0px;
	margin-bottom: 5px;
}


.popover-store .media-body span{
	font-size: 0.9em;
	line-height: 0.5em;
}

.popover-prodcat .media-body span{
	font-size: 0.9em;
	line-height: 0.5em;
}

.mini-seller-img{
	display: inline-block;	
	width: 50px;
/*	height: 50px;*/
	float: left;
}

.mini-seller-img{
	vertical-align: middle;
}

.mini-userrole{	
	margin-top: -5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	font-size: 0.85em;
	color: #777;
}

.user-interest{
	position: relative;
	display: block;
	top:0px;
	padding: 5px;
	font-size: 0.95em;
	line-height: 1.5em;
	background-color: #E5ECF3;	
	margin-bottom: 5px;
}

.seller-interest{
	position: relative;
	display: block;
	top:15px;
	padding: 5px;	
	font-size: 0.95em;
	line-height: 1.5em;
	background-color: #E5ECF3;	
	margin-bottom: 5px;
}

.prodcat-interest{
	position: relative;
	display: block;
	top:15px;
	padding: 5px;
	font-size: 0.95em;
	line-height: 1.5em;
	background-color: #E5ECF3;	
	margin-bottom: 5px;
}

.user-interest h6{	
	font-size: 0.9em;
	color: #777;
	margin-top: 0px;
	margin-bottom: 0px;	
}

.seller-interest h6{	
	font-size: 0.9em;
	color: #777;
	margin-top: 0px;
	margin-bottom: 0px;	
}

.prodcat-interest h6{	
	font-size: 0.9em;
	color: #777;
	margin-top: 0px;
	margin-bottom: 0px;	
}


.user-interest span{
	display: inline-block;
	position: relative;
}

.mini-user-follow{	
	margin-bottom: 5px;
}

.mini-seller-follow{	
	margin-top: 10px;
	position: absolute;	
}

.mini-prodcat-follow{
	margin-bottom: 5px;
	margin-top: 10px;
}

.btn-follow {
  
  color: #fff;
  padding: 2px 10px;
  font-size: 0.8em;    
  background-color: #3093C7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093C7), to(#1c5a85));
 background-image: -webkit-linear-gradient(top, #3093C7, #1c5a85);
 background-image: -moz-linear-gradient(top, #3093C7, #1c5a85);
 background-image: -ms-linear-gradient(top, #3093C7, #1c5a85);
 background-image: -o-linear-gradient(top, #3093C7, #1c5a85);
 background-image: linear-gradient(to bottom, #3093C7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093C7, endColorstr=#1c5a85);
}

.btn-follow:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.btn-follow:hover,
.btn-follow:focus,
.btn-follow:active,
.btn-follow.active,
.open .dropdown-toggle.btn-follow {
  color: #fff;
  border:1px solid #1c5675;
 background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
 background-image: -o-linear-gradient(top, #26759e, #133d5b);
 background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

.btn-follow:active,
.btn-follow.active,
.open .dropdown-toggle.btn-follow {
  border:1px solid #1c5675;
 background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
 background-image: -o-linear-gradient(top, #26759e, #133d5b);
 background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

.btn-follow:focus {
  border: 1px solid #275371;
  -webkit-box-shadow: inset 0 0 0 1px #ffffff;
          box-shadow: inset 0 0 0 1px #ffffff;
}

.btn-follow .badge {
  color: #dcdcdc;
  background-color: #fff;
  line-height: 0.8em;
  top:0px;
  border-radius: 8px;
}

.btn-follow:hover {
  text-shadow: none;
  border:1px solid #1c5675;
 background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
 background-image: -o-linear-gradient(top, #26759e, #133d5b);
 background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

.btn-follow:active,
.btn-follow.active,
.open .dropdown-toggle.btn-follow {
  border:1px solid #1c5675;
 background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
 background-image: -o-linear-gradient(top, #26759e, #133d5b);
 background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

.btn-follow:focus {
  background-color: #23629F;
  border-color: #275371;
  outline-style: none;
}

.btn-follow .minibdg{
	color: #337294;
	margin-left: 5px;
}

/*POPOVER user profile End*/


/*POPOVER Store Profile Begin*/

.popover-store .popover {
	position: relative;
	display: block;
	float: left;
	width: 260px;
	padding: 5px;	
}

.miniovrl-rating {		
	text-align: center;	
	height: 30px;
	width: 30px;
	border-radius: 0.3em;
	line-height: 1.2em;
	margin-left: 5px;
	margin-top: 5px;
}

.ovrl-value {
	font-size: 1.2em;
	font-weight: bold;
	color: #fff;
	padding-top: 7px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.ovrl-meaning {
font-size: 0.85em;
font-weight: normal;
color: #fff;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
#collapseOne{
	margin-top: 10px;
}

.miniovrl-score > tbody > tr > td {
vertical-align: middle;
border-top: 1px solid #FFFFFF;
padding: 2px;
}

#miniovrl-score .content-wrap {	
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}	

#miniovrl-score table{
	margin-bottom: 5px;	
}

/*.table > tbody > tr > td*/

.miniovrl-score .col-sm-9{
	padding-left: 0px;
	padding-right: 0px;
}

.miniovrl-score .criteria {
text-align: left;
font-size: 0.85em;
font-weight: bold;
color: #337294;
}

.miniovrl-score .rating {
text-align: center;
font-size: 1em;
font-weight: bold;
color: #555;
}

.miniovrl-score .label {
display: inline;
padding: .2em .7em .2em;
font-size: 0.85em;
font-weight: bold;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .3em;
/* padding: 0.5em 0.8em; */
}


.miniovrl-score .label-great{
    background-color:#468847;
  /*border: 3px solid #468847;*/
}

.miniovrl-score .label-good{
  background-color:#5cb85c; 
  /*border: 3px solid #5cb85c;*/
}

.miniovrl-score .label-not-bad{
  background-color:#ed9c28;
    /*border: 3px solid #ed9c28;*/
}

.miniovrl-score .label-bad{
  background-color:#D9534F;
    /*border: 3px solid #D9534F;*/
}

.miniovrl-score .label-awful{
  background-color:#b94a48;
    /*border: 3px solid #b94a48;*/
}

.mini-storename{
	position: absolute;
	display: block;
	font-size: 0.8em;
	color: #999;
	margin-bottom: 10px;
	padding-left: 5px;
}

.mini-storename:hover{
	color: #337294;
}

.mini-followers {	
	display: inline;
	width: 160px;
	margin-top: -10px;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
	font-size: 0.9em;
	font-weight: bold;
}

.mini-followers a:hover{
	color: #337294;
}

.mini-followers span {
	color: #999;
	font-size: 0.7em;
	font-weight: normal;
}

.store-highlight{
	position: relative;
	display: block;
	padding: 5px;
	font-size: 13px;
	background-color: #E5ECF3;	
	margin-bottom: 5px;
}

.store-highlight p{
	margin: 0px;
	font-size: 0.9em;
	color: #777;	
}

.store-highlight span{
	display: inline-block;
	position: relative;
}

.mini-store-follow{
	display: inline;
}

/*POPOVER Store Profile End*/

/*POPOVER Product Category Profile Begin */


.popover-prodcat .popover {
	position: relative;
	display: block;
	float: left;
	width: 260px;
	padding: 5px;
}

.mini-storename{
	position: absolute;
	display: block;
	font-size: 0.8em;
	color: #999;
	margin-bottom: 10px;
	padding-left: 5px;
}

.mini-storename:hover{
	color: #337294;
}

.mini-prodcatname{	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
	font-weight: bold;
	font-size: 0.9em;
	color: #337294;
}


.mini-followers {	
	display: inline;
	width: 160px;
	margin-top: -10px;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
	font-size: 0.9em;
	font-weight: bold;
}

.mini-followers a:hover{
	color: #337294;
}

.mini-followers span {
	color: #999;
	font-size: 0.7em;
	font-weight: normal;
}

.store-highlight{
	position: relative;
	display: block;
	padding: 5px;
	font-size: 13px;
	background-color: #E5ECF3;	
	margin-bottom: 5px;
}

.store-highlight p{
	margin: 0px;
	font-size: 0.9em;
	color: #777;	
}

.store-highlight span{
	display: inline-block;
	position: relative;
}

.mini-store-follow{
	display: inline;
}

.seller-info{
	text-align: left;
	font-size: 1em;
	color: #777;
	line-height: 1em;
}


/*POPOVER Product Category Profile End */

/*POPOVER for Single Comment on full page view Begin */

.popover-scomment .popover {
	position: relative;
	display: block;
	float: left;
	width: 300px;
	padding: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.pop-scomment:before{
	display: table;
	content: "";
	zoom:1;
}

.pop-scomment{
	zoom: 1;
	margin: 6px 6px 4px;
}

.pop-scomment h3{
	font-size: 0.85em;
	margin: 0px;
	font-weight: bold;

}

.criteria-comment{
	position: relative;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #E5ECF3;
	padding: 5px;	
}

.criteria-comment p{
	font-size: 0.95em;
	white-space: wrap;	
	overflow: hidden;
	text-align: left;
	vertical-align: middle;
	margin-bottom: 0px;
}


/*POPOVER for Single Comment on full page view End */

/*POPOVER for Single Comment EDIT view Begin*/

.criteria-edit{
	position: relative;
	display: block;
	padding: 0px;	
}

.criteria-edit textarea {
	position: relative;
	display: inline-block;	
	width: 100%;
	margin-top: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #E5ECF3;
	font-size: 0.95em;
	min-height: 85px;
}

.noscroll{
	overflow: hidden; 
}

.hiddendiv {  
    display: none;  
    white-space: pre-wrap;  
    width: 100%
    min-height: 50px;  
    font-family: inherit;
    font-size: 0.95em;
    /*padding: 5px;  */
    word-wrap: break-word;  
} 

/*POPOVER for Single Comment EDIT  view End*/


/* Pop */
@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.pop {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pop:hover, .pop:focus, .pop:active {
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/* Hover Shadow */
@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@-webkit-keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

@keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

.hover-shadow {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hover-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hover-shadow:hover, .hover-shadow:focus, .hover-shadow:active {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  animation-name: hover;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.hover-shadow:hover:before, .hover-shadow:focus:before, .hover-shadow:active:before {
  opacity: .4;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-animation-name: hover-shadow;
  animation-name: hover-shadow;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
