<!DOCTYPE html>
<html lang="en">

	<%- include head_meta.ejs %>

	<body>

		<div id="content" style="height: 400px;  position: relative;">

<!-- 			<a href="/">
				<img src="images/ajax-loader.gif" style="position: absolute;  left: 50%;  top: 70%;  margin-left: -32px;  margin-top: -32px;  display: block;" alt="" class="profile-img"/>
			</a>
			<span style="position: absolute;  left: 50.5%;  top: 90%;  margin-left: -32px;  margin-top: -32px;  display: block;" alt="">Loading...</span> -->
					
			<div class="zsl-jumbotron">
				<div class="zsl-container">
				    <h1><span><img title="zorsay" id="zorsay-sl-logo" src="images/zorsay-wsl.png"></span></h1> 
				    <a href="/">
						<img src="images/ajax-loader.gif" style="position: absolute;  left: 50%;  top: 70%;  margin-left: -32px;  margin-top: -32px;  display: block;" alt="" class="profile-img"/>
					</a>
					<span style="position: absolute;  left: 50.5%;  top: 90%;  margin-left: -32px;  margin-top: -32px;  display: block;" alt="">Loading...</span>
				</div>
			
				<%- include footer.ejs %>
			</div>

		</div>

		

		<!-- script(data-main='js/boot', type='text/javascript',src='http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js')-->
		<!-- 2.0.1-->
		<script data-main="js/boot" type="text/javascript" src="/js/libs/require.js"></script>

  	</body>
</html>



