<!DOCTYPE html>
<html lang="en">

	<% fs = require("fs") %>
	<%= fs.readFileSync('views/head_meta.html', 'utf-8') %>

	<body>

		<div id="content" style="height: 400px;  position: relative;">
			<a href="/">
				<img src="images/ajax-loader.gif" style="position: absolute;  left: 50%;  top: 50%;  margin-left: -32px;  margin-top: -32px;  display: block;" alt="" class="profile-img"/>
			</a>
			<span style="position: absolute;  left: 50.5%;  top: 70%;  margin-left: -32px;  margin-top: -32px;  display: block;" alt="">Loading...</span>
		</div>

		<%= fs.readFileSync('views/footer.html', 'utf-8') %>

		<!-- script(data-main='js/boot', type='text/javascript',src='http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js')-->
		<!-- 2.0.1-->
		<script data-main="js/boot" type="text/javascript" src="/js/libs/require.js"></script>

  	</body>
</html>



