!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content='Zorsay-This is where you say it all, online shopping experience, online shopping review, online shopping customer feedback, indian e-commerce, integrated shopping solution')
    meta(name='description', content='Zorsay is the fun and easy way to help you discover, rate and talk about your online shopping experience for online buyers in India')
    meta(name='author', content='Zorsay Vinit Agrawal')
    meta(name='robots', content='index, follow')

    link(rel='shortcut icon', href='/images/favicon.ico')
    link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300', rel='stylesheet', type='text/css')
    // title ZorSay Meta E-Commerce System
    // Bootstrap core CSS
    link(href='css/bootstrap.css', rel='stylesheet')
    //link(href='css/bootstrap_import.css', rel='stylesheet')
    //link(href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", rel='stylesheet')
    
    // TODC Bootstrap core CSS
    link(href='css/todc-bootstrap.css', rel='stylesheet')
    //if lt IE 9
      script(src='js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    block head

  body
    block content
    
    block scripts
