extends layout

block head
  title('Password Reset | Zorsay ')
  link(href='css/signup.css', rel='stylesheet')

block content
  .container
    h2.form-signin-heading.text-center Zorsay Password Recovery
    .card.card-signin
      a(href='/')
        img.profile-img(src='images/zorsay-sl.png', alt='')
      form.form-signin(role='form', action='/resetPassword', method='post')
        input(type='hidden',name='accountId',value='')
        // Enter Password
        h2.form-signin-heading.text-center(style='color: #292929;') Enter your New Password
        input.form-control#password(type='password', name='password', required='required')
        // Confirm Password
        input.form-control#re-password(type='password', placeholder='Confirm', name='re-password', required='required')
        // Submit
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit
        div
          a(style='text-align: center; margin-top: 10px; margin-left: 0px;', href='/#login') Login
  // /container
  footer
    .zs-footer
      span.links
        a.btn.btn-primary.btn-sm(href='mailto:contact@zorsay.com', role='button') Contact Us
        a.btn.btn-primary.btn-sm(href='http://blog.zorsay.com/', role='button') Our Story
      span.icons
        a(target='_blank', href='https://www.facebook.com/say.zorsay')
          img(width='32', height='32', src='images/icon_facebook_32.png', alt='f')
        a(target='_blank', href='#')
          img(width='32', height='32', src='images/icon_twitter_32.png', alt='t')

block scripts
  script(type='text/javascript').
    var url = document.URL;
    var id_check = /[?&]account=([^&]+)/i;
    var match = id_check.exec(url);
    if (match != null){
      // console.log(match[1]);
      // $("input[name=accountId]").attr("value", match[1]);
      var arr_elms = [];
      arr_elms = document.body.getElementsByTagName("input");
      for (var i = 0; i < arr_elms.length; i++) {
        if(arr_elms[i].getAttribute("name") == 'accountId')
          arr_elms[i].setAttribute("value", match[1]);
      }
    }
