

		<!-- <div id="content" style="height: 400px;  position: relative;"> -->
			<!-- <div class="zsl-jumbotron"> -->
				<!-- <div class="zsl-container"> -->
				    <h1><span><img title="zorsay" id="zorsay-sl-logo" src="images/zorsay-wsl.png"></span></h1>
				    <p>
				    Some text to be remained here
				    </p>

				    <%= somevar %>

				    <p>
				    Some more text

				    <%//- rendered_include('views/template_test_include_file_1.ejs', {somevar: 'test_string_1'}) %>

				    </p>

				<!-- </div> -->
			<!-- </div> -->

		<!-- </div>		 -->
