<!-- Forgot Password Modal -->
<div class="modal fade zs-fade" id="myForgotModal" tabindex="-1" role="dialog" aria-labelledby="mySignModalLabel" aria-hidden="true">
  <div class="modal-dialog-signin">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="modal-content-signin">
      <!-- <div class="modal-header"> -->

      <!-- FORGOT PASSWORD -->
      <section id="forgot">
      <div class="zs-login-box-in" style="text-align:center;">
                <h2 class="bigintro">Reset Password</h2>
                <form role="form">
                  <div class="form-group">
                  <label for="forgotPasswordEmail">Enter your Email address</label>
                  <i class="fa fa-envelope"></i>
                  <input type="email" class="form-control" id="forgotPasswordEmail" name="email" >
                  </div>
                  <abbr style="display:inline-block;" class="alert" id="forgot-message"></abbr>
                  <div class="form-actions" style="text-align:center;">
                  <button type="submit" class="btn btn-info" id="forgot-submit">Send Me Reset Instructions</button>
                  </div>
                </form>
                
                <div class="login-helpers" style="text-align:center;">
                  <!-- <a href="#" id="loginModalLink" onclick="swapScreen('mySigninModal');return false;">Back to Login</a> <br> -->
                  <a href="#" id="loginModalLink">Back to Login</a> <br>
                </div>
        </div>
      </section>
      <!-- FORGOT PASSWORD -->    
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
