<!DOCTYPE html>
<html lang="en">

  <%- include zs_head_meta.ejs %>

  <head>
    <title>Shopping Experience for - Zorsay</title> <!-- #TODO put the full shopex title here -->
  </head>

  <body>
    <!-- ZS single Shopex Page begin -->
    <section id="zs-login-page">

      <% /*console.log(all_shopex_data.shopex_main_column_data)*/ %>

      <!-- ZS Fixed navbar begin -->
      <%//- include zs_navbar.ejs %>
      <%//- rendered_include('views/zs_navbar.ejs', {navbar_data: navbar_data}) %>
      <%- rendered_include('views/zs_navbar.ejs', {navbar_data: single_shopex_page_data.navbar_data}) %>
      <%//- rendered_include('views/zs_navbar.ejs', {navbar_data: {user_info: {name: {first: "Vinit", last: "Agrawal"}, pub_id: 13731 }, }, }) %>
      <!-- ZS Fixed navbar end -->

      <div class="container">

        <!-- ZS top header begin -->
        <%- include zs_top_header.ejs %>
        <!-- ZS top header end -->

        <!-- LOGIN -->
        <section id="login">
        <!-- <div class="col-md-4 col-md-offset-4"> -->
          <div class="zs-login-box-in" style="text-align:center;">
            <h2 class="bigintro">Login</h2>
            <form role="form">
              <div class="form-group">
              <label for="loginInputEmail">Email address</label>
              <i class="fa fa-envelope"></i>
              <input type="email" class="form-control" id="loginInputEmail" name="email">
              </div>
              <div class="form-group"> 
              <label for="loginInputPassword">Password</label>
              <i class="fa fa-lock"></i>
              <input type="password" class="form-control" id="loginInputPassword" name="password">
              </div>
            </form>
            <abbr style="display:inline-block;" class="alert" id="login-message"></abbr>
            <!-- <input type="submit" style="display:none;"/> -->
            <!-- <input type="submit" style="position: absolute; left: -9999px"/> -->
          </div>
          
          <div class="zs-login-box-sub">
            <form role="form">          
             <div class="form-actions">
              <div class="checkbox">
                 <label><input type="checkbox" id="loginRememberMe" name="rememberme">Remember me</label>
              </div>        
              <button type="submit" class="btn btn-danger" id="login-submit">Submit</button>
              </div>
            </form>
          
                          <!-- SOCIAL LOGIN -->
                    <div class="divide-20"></div>
                    <div class="center" style="text-align:center;">
                      <strong>Or login using your social account</strong>
                    </div>
                    <div class="divide-20"></div>
                    <div class="social-login center" style="text-align:center;">
                      <a class="btn btn-primary btn-lg">
                        <i class="fa fa-facebook"></i>
                      </a>
                      <a class="btn btn-info btn-lg">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a class="btn btn-danger btn-lg">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </div>
                    <!-- /SOCIAL LOGIN -->

            <div class="login-helpers" style="text-align:center;">
            <!-- <li class="zs-defaultbtn" data-toggle="modal" data-target="#mySigninModal"><a href="#">Sign In</a></li> -->
              <!-- <a href="#" id="forgotModalLink" onclick="swapScreen('myForgotModal');return false;">Forgot Password?</a> -->
              <a href="#" id="forgotModalLink">Forgot Password?</a>
              <!-- <br>Don't have an account with us? <a href="#" id="registerModalLink" onclick="swapScreen('myRegisterModal');return false;">Register now!</a> -->
              <br>Don't have an account with us? <a href="#" id="registerModalLink">Register now!</a>
            </div>
          </div>
        <!-- </div> -->
        </section>
        <!--/LOGIN -->

      </div>
      <!-- div class="container" end -->
    </section>
    <!-- section id="zs-all-shopex-page" end -->
    
    <%//- include zs_end_footer.ejs %>
    <!-- ZS Single Shopex Page end -->


    <!-- start loading and running the scripts -->
    <script data-main="/js/zs_single_shopex_page" type="text/javascript" src="/js/libs/require.js"></script>

  </body>
</html>