<div class="popover-prodcat">
  <!-- <div class="popover bottom"> -->
    <div class="arrow"></div>
      <!-- Seller details Begin -->          
      <div class="row">  
        <div class="media">
          <a class="pull-left" href="<% pro_cat_data.store_page_url ? pro_cat_data.store_page_url : "/seller/pro_cat_data._id/pro_cat_data.url_name" %>">                
            <img class="media-object" src="/img/newprocat.jpg" alt="<%= pro_cat_data.name %>" style="width: 50px;">
          </a>
           <div class="media-body">
            <h4 class="mini-prodcatname"><%= pro_cat_data.name %></h4>
            <div class="seller-info">
              <span><%= pro_cat_data.info_text ?  pro_cat_data.info_text.substr(0, 120) : "" %></span>
            </div>
          </div>
        </div>
      </div>
                
      <!-- User Follow Begin -->
      <div class="mini-prodcat-follow">              
        <div data-toggle="buttons">
          <label class="btn btn-follow">
            <input type="checkbox">Follow <span class="badge minibdg"><%= pro_cat_data.meta_info ? pro_cat_data.meta_info.followers.length : 0 %></span>
          </label>
        </div>            
      </div>            
      <!-- User Follow End -->
  <!-- </div> -->
</div>