  <% sd = single_shopex_data.shopex_data %>
  
  <%- rendered_include('views/zs_shopex_ratings.ejs', {
      single_shopex_data: single_shopex_data, 
      }) 
  %>
    
  <!-- Shopping Experience in Detail Begin-->
  <section id="shopex-detail">
    <div class="shopex-wrap">

      <!-- Detail Shopping Experience Begin-->
      <div class="panel col-md-12 col-sm-12 col-xs-12">
        <div class="panel-heading ">Detailed</div>
        <div class="panel-body shopex_text_editable"><%- sd.content_text %></div>
      </div>
    </div>
  </section>
  <!-- Detail Shopping Experience End-->