<div class="popover-store">
      <!-- <div class="popover bottom"> -->
        <!-- <div class="arrow"></div> -->
          <!-- Store details Begin -->
          <div class="pop-store">
            <a href="/store">
              <img class="mini-store-img img-responsive" src="/img/bookadda_logo.jpg" alt="user">
            </a>
            <a class="mini-storename" href="/bookadda.com">Book adda</a>
          </div>
          <!-- Store details End -->

          <!-- store highlights begin -->
          <div class="store-highlight">
            <p><strong>Highlights: </strong></p>
            <span class="label label-ps-category">
              <a href="#">Fiction</a>
            </span>              
            <span class="label label-ps-category">
              <a href="#">Comics</a>
            </span>
            <span class="label label-ps-category">
              <a href="#">Academic Books</a>
            </span>
            <span class="label label-ps-category">
              <a href="#">History</a>
            </span>
            <a href="/user-profile-page" style="color:#337294;">more...</a>
          </div>
          <!-- store highlights end -->
          
          <!-- Store Follow Begin -->
          <div class="mini-store-follow">              
            <div data-toggle="buttons">
              <label class="btn btn-follow">
              <input type="checkbox"> Follow 
            </label>
            <div class="mini-followers">
              <a>65 </a><span>Followers</span>
            </div> 
            </div>             
          </div>            
          <!-- Store Follow End -->


        <!-- <div class="popover-content"> -->
      <!-- </div> -->
    </div>