<!-- ZS top header begin -->
<section id="header-main">                    
    <div class="row">
      <!-- <div class="col-md-12 col-sm-12 col-xs-12">  -->
        <div class="col-md-6 col-sm-10 col-xs-6 ">
          <ul class="nav nav-pills">
            <li class="zs-experience"><a href="/shopping-experiences">SHOPPING EXPERIENCES</a></li>
            <li class="zs-question"><a href="/questions">QUESTIONS</a></li>
            <!-- <li class="zs-category hidden-xs"><a href="/product-categories">CATEGORIES</a></li> -->
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-pills pull-right">
            <li class="zs-category hidden-xs"><a class="zs_pending" href="/categories" data-poload data-uv-triggerx="smartvote">CATEGORIES</a></li>
            <li class="zs-category hidden-xs"><a class="zs_pending" href="/sellers" data-poload data-uv-triggerx="smartvote">SELLERS</a></li>
          </ul>
        </div>
      <!-- </div>   -->
    </div>
</section>                  
<!-- ZS top header end -->