/*
 * Zorsay v1.0.1 (http://www.zorsay.com)
 * Copyright 2014 Zorsay, pvt ltd. 
*/

html {
  font-family: Helvetica, sans-serif, 'Open Sans', 'Lucida Sans', Lato, Arial;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

#header-main{
	width: 100%;
	margin: 40px 0 30px 0;
}

#header-main .col-md-6{
	padding-left: 0;
	padding-right: 0;
}

#main-content{
	min-height: 400px;
	margin-bottom: 10px;
}

.zs-divider {
  height: 1px;
  margin: 0 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

@media (max-width: 767px) {
	.zs-divider {
    background-color: #080808;
  }
}  

.title-wrap .navbar-nav {
	padding-left: -10px;	
}

.content-wrap{
	border-bottom: 1px solid #eaeaea;
  	overflow: hidden;
}

.content-wrap .col-md-1{
	/*padding: 5px;*/
  padding: 0;
}

.content-wrap .col-md-11{	
	padding-right: 5px;
}

.rating-body{
  position: relative;  
  display: inline-block;
  float: left;
  top:10px;
  text-align: center;
  height: 54px;
  width: 54px;
  border-radius: 0.3em; 
  line-height: 1.4em; 
}

.content-wrap .rating-value {
	font-size: 1.3em;
	font-weight: bold;
	color: #fff;
	padding-top: 7px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);

}

.content-wrap .rating-meaning {
	font-size: 0.85em;
	font-weight: normal;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

/*Sign In Nodal CSS Begin*/

.zs-login-box-in{
/*background: none repeat scroll 0 0 #FFFFFF;*/
border: 1px solid #D8D8D8;
border-radius: 7px 7px 7px 7px;
/*box-shadow: 0 1px 4px #D3D3D3;*/
/*margin: 50px auto;*/
padding: 15px 60px 60px;
position: relative;
/*min-height: 300px;*/
color: #555555;
}

.zs-login-box-sub {
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #D8D8D8;
border-top: 1px solid #FFFFFF;
border-radius: 7px 7px 7px 7px;
/*box-shadow: 0 1px 4px #D3D3D3;*/
margin-top: -60px;
padding: 0 60px 60px;
position: relative;
min-height: 300px;
color: #555555;
}

.zs-register-box-in{
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #D8D8D8;
border-radius: 7px 7px 7px 7px;
/*box-shadow: 0 1px 4px #D3D3D3;*/
/*margin: 50px auto;*/
padding: 15px 60px 60px;
position: relative;
/*min-height: 300px;*/
color: #555555;
}

.zs-register-box-sub {
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #D8D8D8;
border-top: 1px solid #FFFFFF;
border-radius: 7px 7px 7px 7px;
/*box-shadow: 0 1px 4px #D3D3D3;*/
margin-top: -60px;
padding: 0 60px 60px;
position: relative;
min-height: 300px;
color: #555555;
}

.zs-reset-box{
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #D8D8D8;
border-radius: 7px 7px 7px 7px;
/*box-shadow: 0 1px 4px #D3D3D3;*/
/*margin: 50px auto;*/
padding: 15px 60px 60px;
position: relative;
/*min-height: 300px;*/
color: #555555;
}

.bigintro,
.bigintro > h2 {
font-size: 38px;
line-height: 30px;
text-align: center;
font-family: "Open Sans";
font-weight: 300;
margin-bottom: 30px;
}


.zs-login-box-in label {
font-size: 0.9em;
display: inline-block;
font-weight: bold;
}

.zs-register-box-in label {
font-size: 0.9em;
display: inline-block;
font-weight: bold;
}


.zs-login-box-in form i {
color: #CCCCCC;
display: block !important;
font-size: 16px;
height: 16px;
margin: 9px 2px 4px 10px;
position: absolute !important;
text-align: center;
width: 16px;
z-index: 1;
}


.zs-register-box-in form i {
color: #CCCCCC;
display: block !important;
font-size: 16px;
height: 16px;
margin: 9px 2px 4px 10px;
position: absolute !important;
text-align: center;
width: 16px;
z-index: 1;
}

.fa {
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: normal;
line-height: 0.9em;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}

.fa-envelope:before {
content: "\2709";
}

.fa-lock:before {
content: "\e033";
}

.zs-login-box-in input{
background: none repeat scroll 0 0 #FFFFFF;
font-size: 1em;
margin: 0;
padding: 8px;
width: 100%;
border-radius: 6px;
box-shadow: none;
min-width: 0;
padding-left: 33px !important;
}

.zs-register-box-in input{
background: none repeat scroll 0 0 #FFFFFF;
font-size: 1em;
margin: 0;
padding: 8px;
width: 100%;
border-radius: 6px;
box-shadow: none;
min-width: 0;
padding-left: 33px !important;
}

.zs-login-box-sub .form-actions {
background-color: #F5F5F5;
border-top: 1px solid #E5E5E5;
padding: 5px 20px 20px;
}


.zs-register-box-sub .form-actions {
background-color: #F5F5F5;
border-top: 1px solid #E5E5E5;
padding: 5px 20px 20px;
}

.zs-register-box-sub .form-actions .checkbox > a:hover{
  color: #337294;
}

.form-actions .btn-danger{
  margin-left: 2em;
  padding: 6px 62px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
}

.form-actions .btn-success{
  margin-left: 2em;
  padding: 6px 62px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
}

.divide-20 {
height: 20px;
width: 100%;
}

.center > h5 {
text-align: center;
font-size: 0.9em;
font-weight: bold;
}

.btn-social {
position: relative;
padding-left: 44px;
text-align: left;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.btn-social :first-child {
position: absolute;
left: 0;
top: 0;
bottom: 0;
width: 32px;
line-height: 30px;
font-size: 1.6em;
text-align: center;
border-right: 1.5px solid rgba(0,0,0,0.2);
}

.btn-facebook {
color: #fff;
background-color: #3b5998;
border-color: rgba(0,0,0,0.2);
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
color: #fff;
background-color: #30487b;
border-color: rgba(0,0,0,0.2);
}

.btn-twitter {
color: #fff;
background-color: #55acee;
border-color: rgba(0,0,0,0.2);
}

.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .open .dropdown-toggle.btn-twitter {
color: #fff;
background-color: #309aea;
border-color: rgba(0,0,0,0.2);
}

.btn-google-plus {
color: #fff;
background-color: #dd4b39;
border-color: rgba(0,0,0,0.2);
}

.btn-google-plus:hover, .btn-google-plus:focus, .btn-google-plus:active, .btn-google-plus.active, .open .dropdown-toggle.btn-google-plus {
color: #fff;
background-color: #ca3523;
border-color: rgba(0,0,0,0.2);
}

.login-helpers {
margin-top: 20px;
font-size: 12px;
}

.login-helpers > a{
  color: #5e87b0;
  text-decoration: none;
}

.modal-content-signin {
  top: 15px;
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

.modal.fade .modal-dialog-signin {
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog-signin {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-dialog-singin {
  position: relative;
  z-index: 1050;
  width: auto;
  margin: 10px;
    -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 400px;
  margin: 30px auto;
}

@media screen and (min-width: 768px) {
  .modal-dialog-signin {
    width: 400px;
    margin: 30px auto;
  }
  .modal-content-signin {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}


/*Sign In Nodal CSS Ends*/