/*
 * Zorsay - Add Shopping Experience & Question modal  v1.1 (http://www.zorsay.com)
 * Copyright 2014 Zorsay, pvt ltd. 
*/

.modal-dialog .modal-body{  
  padding-top: 0px;
}

.form-wizard .nav-justified > li > a {
    text-align: left;
}

.display-none {
	display: none;
}

.wizard-buttons {
/*    background-color: #F5F5F5;*/
/*    border-top: 1px solid #E5E5E5;*/
    padding: 10px 10px 0 10px;
}

.wizard-buttons .nextBtn{
  float: right;
}

.wizard-form input{
  border-radius: 4px;
  display: inline;
  font-size: 1.1em;
}


.wizard-form .progress {
  margin-bottom: 10px;
}

.progress.progress-sm {
height: 9px !important;
}

.wizard-form .steps {  
  background-image: none !important;
  filter:none !important;
  border: 0px;
  margin-top: 10px;
  box-shadow: none !important;
/*  background-color: #70AFC4;*/
  border-radius: 4px 4px 0 0;  
}

.wizard-form .steps li a {
  background-color: #fff;
  background-image: none !important;
  filter:none !important;
  color: #3C7786;
  border: 0px;
  box-shadow: none !important;
}
.wizard-form .steps li a:hover, .wizard-form .steps li a:focus{
  background-color: #fff;
  color: #3C7786;
}

.wizard-form .wiz-step:hover {
  text-decoration: none;
}

.wizard-form .wiz-step .step-number {
  background-color: #3C7786;
  display: inline-block;
  font-weight: 600;
  padding: 5px 10px !important;
  margin-right: 10px;
  font-size: 11px;
  color: #FFFFFF;
  -webkit-border-radius: 4px !important;
     -moz-border-radius: 4px !important;
          border-radius: 4px !important;
}

.wizard-form .wiz-step .step-name {
  display: inline-block;
  font-size: 1.2em;
  /*font-weight: 600;*/
  /*text-transform: uppercase;*/
  color: #3C7786;
}
 
.wizard-form .active .wiz-step .step-number {
  color: #FFF;
  background-color: #F39C12;
}

.wizard-form .active .wiz-step .step-name {
  font-size: 1.2em;
  /*font-weight: 600;*/
  color: #3C7786;
}

.wizard-form .wiz-step i {
  display: none;
}

.wizard-form .done .wiz-step .step-name {
  font-weight: 600;
}

.wizard-form .done .wiz-step i {
  font-size: 12px;
  font-weight: normal;
  color: #FFFFFF;
  display: inline-block;
}

.wizard-form .box1{
	width: 100%;
	border: 1px solid #F5F5F5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 15px;	
}

.wizard-form .box1 {
 /*position: relative;
 display: inline;*/
  /*img: url(../img/parcel-delivery-package.jpg);*/    
  width: 99%;
  zoom: 1.1;
  height: auto;
  background: url(../img/cream_dust.png);
  background-repeat:repeat; 
  border-color: #D9EDE5;

}

.wizard-form .panel{
	text-align: center;
}

.wizard-form .shopex-wrap .panel{
  text-align: left;
}

.wizard-form .shopex-wrap .panel-heading{
  padding-left: 10px;
  background-color: #FFF;
  
}

.wizard-form .shopex-wrap .panel-body{
  padding-left: 10px;
}

.wizard-form .shopex-wrap .user-bought{
  padding-left: 10px;
}

.wizard-form #main-content{
  margin-bottom: 0px;
}

.wizard-form .shopex-wrap{
  border-bottom: 1px solid #CCC;
}

.wizard-form .panel-heading{
/*	padding: 5px auto;*/
  background-color: #e5ecf3;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0px;
}

.wizard-form .panel-title{
  color: #337294;
  padding-bottom: 5px;
}

.wizard-form .step1 h1{
  margin-top: 5px;
  margin-bottom: 5px;
}

.wizard-form .step2 h1{
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 2.2em;
  font-weight: bold;
}

.wizard-form .shopex-add-user{
    margin-top: 15px;
  margin-bottom: 15px;
}

.wizard-form .step1 h2{   
  font-size: 1.4em;    
  text-align: center;
  margin-bottom: 20px;
}

.wizard-form .step1 .form-group {
  margin-bottom: 5px;
}

.wizard-form .step1 .store-details h4{
  margin-top: 0px;
  margin-bottom: 0px;
}

.wizard-form .step1 label{
  font-size: 1.1em;
  font-weight: 600;  
  padding-right: 0px;
}

.wizard-form .step1 h2 a:hover{
  color: #337294;
}

.wizard-form .step1 h2 span{
  color: #7A7A7A;
  font-size: 0.95em;
}

.wizard-form .step1 .review{
  margin: 10px 10px 10px 10px;    
}

.wizard-form .step1 .review h2{
  font-size: 1.4em;
  text-align: left;
  margin-bottom: 5px;
}

.wizard-form .step1, .qn-links .pr-link{
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 5px;
}

.wizard-form .step1, .qn-links .pr-link a{
 /* color: #337294;*/
  font-size: 0.9em;
  
}

.wizard-form .step1 h3{
	display: inline;		
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 0.85em;	
	font-weight: bold;
	text-align: center;
  /*text-transform: uppercase; */ 
}

.wizard-form .box1 a{
  color: #555;
  margin-left: 5px;
}

.wizard-form .box1 a:hover{
	color: #555;	
}

#shopex-anon {
  color: #7A7A7A;
  font-size: 1em;
}

/*.panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }*/


.rate-awful {
text-align: left;
float: left;
font-size: 0.8em;
color: #b94a48;
font-weight: bold;
padding-left: 10px;
}

.spx-param-ii .table-condensed > tbody > tr > td{
  padding: 8px;
}

.spx-param-ii .rate-awful {
text-align: left;
float: left;
font-size: 0.8em;
color: #b94a48;
font-weight: bold;
padding-left: 0px;
}

.rate-great {
text-align: right;
float: right;
font-size: 0.8em;
color: #468847;
font-weight: bold;
padding-right: 10px;
}

.spx-param-ii .rate-great {
text-align: right;
float: right;
font-size: 0.8em;
color: #468847;
font-weight: bold;
/*margin-right: 30px;*/
}

.spx-param-ii .slider.slider-horizontal {
width: 240px;
height: 20px;
}

.comment-box {
position: relative;
display: block;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 2px;
margin-top: 3px;
}

.comment-box textarea {
position: relative;
display: inline-block;
width: 100%;
margin-top: 0px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #ccc;
font-size: 0.95em;
min-height: 60px;
padding: 5px;
}

.comment-box h6{
  margin-bottom: 5px;
}

.order-details{
  position: relative;
}

.order-details .control-label{
  text-align: left;
  margin-left: 15px;
}

.wizard-form .spx-param{
  margin-left: 20px;
}

.wizard-form .preview{
  margin-left: 40px;
  margin-right: 40px;
}

.wizard-form  .preview-ii{
  margin-left: 10px;
  margin-right: 10px;
}

.shopex-ii .modal-dialog {  
  margin: 10px auto;
  width: 600px;
}

/*Modal for asking Questions Begin*/

.modal-askqn .form-group{
  margin-bottom: 0px;
}

.modal-askqn .modal-dialog {  
  margin: 10px auto;
  width: 66%;
}

.modal-askqn .modal-header { 
  padding: 10px 15px 0px 15px;  
}

.modal-askqn .modal-title a{
  color: #0f78b8;
  font-size: 0.7em;
}

.modal-askqn .qn-title{
  margin-top: 10px;
  margin-right: 5px;
}

.modal-askqn .qn-title input{
  color: #000;
}

.modal-askqn .qn-desc {
  position: relative;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 2px;
  margin: 5px 18px 5px 15px;
}

.qn-detail .note-editor{
  position: relative;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 2px;
  margin: 5px 18px 5px 15px;
}

.shopex-detail .note-editor{
  position: relative;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 2px;
}


.modal-askqn .qn-desc textarea {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 0.95em;
  min-height: 60px;
  padding: 5px;
}

.wizard-form textarea{
  color: #333;
  font-size: 0.83em;
}

.wizard-form input{
  color: #000;
}

.wizard-form .qn-links{
  margin-top: 5px;
}

.modal-askqn .qn-links .col-sm-2, .col-xs-2{
  margin-right: 0px;
  padding-right: 15px;
  padding-left: 10px;
}

.modal-askqn .qn-links .col-sm-8, .col-xs-8{
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.modal-askqn .qn-tags .col-sm-10, .col-xs-10{ 
  padding-right: 0px;
  padding-left: 0px;
/*  width: 80%;  */
}


/*Modal for asking Questions End*/
